[2013-07-01 22:59] marcoscaceres opened #1 "Web Animations 1.0"
Editor's draft:
http://dev.w3.org/fxtf/web-animations/

[2013-07-01 23:03] marcoscaceres opened #2 "Compositing and Blending Level 1"
Editor's draft:
http://dev.w3.org/fxtf/compositing-1/

[2013-07-01 23:05] marcoscaceres opened #3 "Web Crypto API"
Editor's draft:
https://dvcs.w3.org/hg/webcrypto-api/raw-file/tip/spec/Overview.html

[2013-07-10 08:14] torgo opened #4 "HTTP 2.0"
http://tools.ietf.org/html/draft-ietf-httpbis-http2-04

[2013-07-11 17:20] slightlyoff opened #5 "Web Audio review/feedback"
As per the last TAG f2f meeting, we owe the Web Audio WG some more detailed feedback about their APIs.

Specific areas of concern that were discussed in the F2F were:
- Doubling up of normative surface area.
- Lack of ctors
- No explanation of `<audio>`, only wrapping
- No de-sugaring of most block types into Script Block code
- TAG didn't understand why Script nodes have such a buffering/stutteri

[2013-07-15 16:20] torgo opened #6 "Push API"
Editor's draft:
https://dvcs.w3.org/hg/push/raw-file/tip/index.html

W3C published draft:
http://www.w3.org/TR/push-api/

[2013-07-22 17:52] marcoscaceres opened #7 "The Screen Orientation API"
Spec: https://dvcs.w3.org/hg/screen-orientation/raw-file/tip/Overview.html

[2013-07-24 15:31] marcoscaceres opened #8 "Network Service Discovery"
Spec: https://dvcs.w3.org/hg/dap/raw-file/tip/discovery-api/Overview.html

[2013-10-02 17:23] plinss opened #13 "Web Components"

[2013-10-02 17:46] plinss opened #14 "WebRTC"
General feedback to the WebRTC working group; feedback on the rechartering process.

[2013-10-05 15:16] #8 closed, assigned to nobody

[2013-10-21 10:06] torgo opened #15 "JSON Feedback"
It's been suggested that we send some formal feedback to the JSON working group in IETF suggesting a stronger (normative) link back to the ECMA-404 draft.

[2013-10-24 17:10] ylafon opened #16 "Custom Elements"
LC As of http://www.w3.org/TR/2013/WD-custom-elements-20131024/
Edcopy: https://dvcs.w3.org/hg/webcomponents/raw-file/tip/spec/custom/index.html

[2013-11-11 03:09] torgo opened #17 "Nottingham Get Off My Lawn RFC"
We've been informed about the following RFC by Mark Nottingham : http://tools.ietf.org/html/draft-nottingham-uri-get-off-my-lawn-01

Might be useful to send a comment or even to file a formal liaison about it if we feel strongly.

[2014-01-24 18:41] domenic opened #18 "Performance Observer Review (formerly Navigation Timing 2 concepts)"
https://dvcs.w3.org/hg/webperf/raw-file/tip/specs/NavigationTiming2/Overview.html

At first glance `getEntriesByType` seems ... weird.

[2014-01-24 21:44] domenic opened #19 "Web MIDI"
http://webaudio.github.io/web-midi-api/

(TR version has wrong Editors Draft link; I had to track it down on GitHub. http://www.w3.org/TR/webmidi/).

I have independently left some feedback on their repo before ([issues here](https://github.com/WebAudio/web-midi-api/issues)).

The attempts at making a Map-like class seem to have gone horribly awry: http://webaudio.github.io/web-midi-api/#midiinput

[2014-01-24 21:53] domenic opened #20 "CSS Font Loading"
http://dev.w3.org/csswg/css-font-loading/

Interesting stuff, including SetClass.

[2014-01-27 17:37] domenic opened #21 "Quota Management API"
https://dvcs.w3.org/hg/quota/raw-file/tip/Overview.html

This is somewhat urgent as [Blink is planning to implement and ship in the near-ish future](https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/ciicp7mJolQ).

[2014-02-03 14:13] domenic opened #22 "Web NFC API"
http://www.w3.org/2012/nfc/web-api/

[2014-02-03 14:14] domenic opened #23 "Beacon"
https://dvcs.w3.org/hg/webperf/raw-file/tip/specs/Beacon/Overview.html

[2014-02-03 17:11] domenic opened #24 "Navigation Error Logging"
https://dvcs.w3.org/hg/webperf/raw-file/tip/specs/NavigationErrorLogging/Overview.html

Needs promises

[2014-02-17 16:16] #7 closed, assigned to marcoscaceres

[2014-02-20 18:52] domenic opened #26 "Shadow DOM"
For discussion of shadow DOM review, per [www-tag email](http://lists.w3.org/Archives/Public/www-tag/2014Feb/0061.html).

[2014-03-27 04:45] #21 closed, assigned to domenic

[2014-05-06 15:32] domenic opened #28 "WebRTC Identity Provider Selection"
Via @annevk:

http://dev.w3.org/2011/webrtc/editor/webrtc.html#identity-provider-selection

[Mozilla intent to implement](https://groups.google.com/d/msg/mozilla.dev.platform/QiF18J4vccA/rDclGYmFPBEJ)

The API design doesn't make sense to me, and perhaps we could help with that, but I think that's a lesser concern next to the idea of an entirely new identity primitive. This is worth us all underst

[2014-06-12 15:32] #15 closed, assigned to nobody

[2014-07-21 15:52] domenic opened #30 "Manifest spec"
(Link please?)

[2014-07-21 15:53] domenic opened #31 "Fullscreen"
http://fullscreen.spec.whatwg.org/

[2014-07-21 15:54] domenic opened #32 "Wake lock"
Just use cases so far: http://w3c-webmob.github.io/wake-lock-use-cases/

But blink-dev has an intent to implement for some version of it. (link?)

[2014-07-21 15:55] domenic opened #33 "Screen orientation"
https://w3c.github.io/screen-orientation/

Already had some good discussions with @mounirlamouri and @marcoscaceres.

[2014-07-22 14:58] domenic opened #34 "multipart/form-data"
Larry Masinter in IETF would appreciate our feedback

[2014-09-10 11:55] plinss opened #35 "CSS Regions"
http://dev.w3.org/csswg/css-regions-1/

Editors are specifically asking for TAG review and guidance

[2014-09-30 12:55] #3 closed, assigned to slightlyoff

[2014-09-30 12:55] #1 closed, assigned to twirl

[2014-09-30 12:56] #4 closed, assigned to ylafon

[2014-09-30 12:58] #17 closed, assigned to nobody

[2014-09-30 13:10] mnot opened #36 "WebAppSec reviews"
CSP2: https://w3c.github.io/webappsec/specs/content-security-policy/
Mixed Content: https://w3c.github.io/webappsec/specs/mixedcontent/
Referrer Policy: https://w3c.github.io/webappsec/specs/referrer-policy/
Subresource Integrity: https://w3c.github.io/webappsec/specs/subresourceintegrity/

[2014-09-30 13:20] #33 closed, assigned to nobody

[2014-09-30 13:46] #31 closed, assigned to nobody

[2014-09-30 14:59] #26 closed, assigned to nobody

[2014-09-30 15:14] #19 closed, assigned to nobody

[2014-09-30 15:21] #13 closed, assigned to wycats

[2014-09-30 15:23] #6 closed, assigned to twirl

[2014-09-30 15:23] #5 closed, assigned to nobody

[2014-09-30 15:24] #2 closed, assigned to plinss

[2014-10-14 04:32] mnot opened #37 "http-problem"
IETF spec in the APPSAWG -
  http://datatracker.ietf.org/doc/draft-ietf-appsawg-http-problem/

May be interesting for TAG review as it effectively defines an object to convey an (HTTP) API error.

[2014-10-31 17:57] torgo opened #38 "Browser Fingerprinting Document"
What feedback can we give to Nick Doty around the fingerprinting guide he is putting together int he privacy interest group? https://w3c.github.io/fingerprinting-guidance/

[2015-01-07 21:14] domenic commented on #32
Reviewed. Spec has been simplified drastically (in a way I like) and there's not much left to do here :). I chimed in positively with https://github.com/w3c/wake-lock/issues/43

[2015-01-07 21:14] #32 closed

[2015-01-07 21:22] domenic commented on #28
Opened https://github.com/w3c/webrtc-pc/issues/172 to get the ball rolling.

[2015-01-07 21:51] domenic commented on #24
Reviewed! Via email to their list. http://lists.w3.org/Archives/Public/public-web-perf/2015Jan/0014.html

Maybe we should add a link to that to this repo...

[2015-01-08 15:50] torgo opened #40 "JSON Form Submission"
http://darobin.github.io/formic/specs/json/

[2015-01-08 16:33] torgo opened #41 "CSS Variables"
http://dev.w3.org/csswg/css-variables/

[2015-01-08 19:51] mnot commented on #14
Discussed in NYC; Dan still coordinating.

[2015-01-08 19:52] mnot commented on #16
Discussed in NYC; dominic following up.

[2015-01-08 19:53] mnot commented on #18
Discussed in NYC; alex to review.

[2015-01-08 19:54] mnot commented on #20
Discussed in NYC; @domenic looking into it.

[2015-01-08 20:07] mnot commented on #22
Discussed at NYC; @torgo to e-mail chair and discuss context, implementer state, etc.

[2015-01-08 20:08] mnot commented on #23
Discussed in NYC; happy with it for now; @domenic may open issues in the future.

[2015-01-08 20:08] #23 closed

[2015-01-08 20:09] mnot commented on #24
Discussed in NYC; @domenic to re-review. Will probably close after that.

[2015-01-08 20:11] torgo commented on #22
Have emailed chairs will report back and potentially schedule for a future call based on feedback.

[2015-01-08 20:11] mnot commented on #28
Discussed in NYC; issue has been raised.

[2015-01-08 20:11] #28 closed

[2015-01-08 20:13] mnot commented on #30
Discussed in NYC; happy enough to close.

[2015-01-08 20:13] #30 closed

[2015-01-08 20:14] mnot commented on #34
Discussed in NYC; ongoing, no driver yet, but we'll get there.

[2015-01-08 20:15] mnot commented on #35
Discussed in NYC; no status available.

[2015-01-08 20:19] mnot commented on #36
Discussed in NYC; splitting out to separate issues for SRI CSP2.

[2015-01-08 20:20] #36 closed

[2015-01-08 20:20] domenic opened #42 "CSP"
https://w3c.github.io/webappsec/specs/CSP2/

@slightlyoff has thoughts on a reflective API

[2015-01-08 20:21] domenic opened #43 "Subresource Integrity"
https://w3c.github.io/webappsec/specs/subresourceintegrity/

@mnot wants to keep an eye on this; it also has lots of general architectural implications we should all keep in mind.

[2015-01-08 20:27] mnot commented on #37
Discussed in NYC; @domenic to review. @slightlyoff might also have feedback.

[2015-01-08 20:28] mnot commented on #38
Discussed in NYC; @mnot to start.

[2015-01-08 20:29] domenic commented on #37
Stuff to not forget when reviewing:

- @slightlyoff's initial feedback that there's no namespacing of extension properties vs. blessed ones
- Whether if we have a standard error format, we can leverage that in e.g. Fetch or similar places throughout the platform?
- Align with ES errors (potentially better ones in the future)?

[2015-01-14 19:16] domenic commented on #16
Found the bug, was filed already https://www.w3.org/Bugs/Public/show_bug.cgi?id=24579 and has recently come up again on public-webapps.

[2015-01-14 19:16] #16 closed

[2015-01-20 21:36] domenic commented on #24
New draft is much simpler and uses a HTTP header instead of a JS API. Looks pretty good to me: https://cdn.rawgit.com/w3c/navigation-error-logging/new/index.html

However I'll note that in the past @slightlyoff has agitated for an API for CSP and this seems to be moving in the opposite direction, so maybe he has opinions?

[2015-02-27 10:52] twirl commented on #35
I incorporated feedback into initial draft, see https://github.com/w3ctag/spec-reviews/pull/44

[2015-03-05 20:44] diracdeltas opened #45 "permissions API"
draft: https://w3c.github.io/permissions/
TAG meeting minutes where this was discussed: https://pad.w3ctag.org/p/03-05-permissions-minutes.md

assigned to myself and @slightlyoff

[2015-03-05 21:04] diracdeltas commented on #45
Started an empty doc at https://github.com/diracdeltas/spec-reviews/blob/review/permissions/2015/03/permissions.md.

## first impressions
This document describes a simple API to allow web applications to see the current status of user-grantable permissions. I like that it addresses a very specific goal, although others brought up concerns about extensibility.

 The "Scope" section (3) could be mor

[2015-03-05 23:18] slightlyoff commented on #45
Agree the promises API is nice.

I'm worried it doesn't include the ability to request permissions, has some funky API style (non-constructable types, etc.), and  I share the concerns about the registry. In particular, why are many of the existing web permissions missing? How will this get evolved over time, given that we don't want WGs to stay open past their sell-by date?

[2015-03-17 05:32] mnot commented on #37
Ping? Being discussed at IETF Dallas on Monday.

[2015-03-17 05:33] domenic commented on #37
Some urgency is exactly what this needed, thanks. Will do this week.

[2015-03-19 19:34] torgo opened #47 "Revise CSS regions draft based on outcome of 19-March discussion"
https://github.com/w3ctag/spec-reviews/blob/master/2015/01/CSS%20Regions.md

[2015-03-20 11:37] twirl commented on #45
One thing I like in current spec is ternary permission status: granted, rejected, try asking user. Of course, 'prompt' is awful decision; it should be like 'wait for click and then try'.

I certainly dislike situation when application should somehow catch user click to ask something. It just deteriorates user experience. For example, such situation already exists in OAuth-powered webapps: you need

[2015-03-20 13:10] domenic commented on #37
Here's what I got. Should I deliver it to apps-discuss, or pull request it here, or should we workshop it first, or...?

A proposal along these lines is sorely needed on the web, as explained very well by its introduction. My main concerns are around the confusing nature of type, title, and message fields, and how they might not be suited for common use cases.

My first concern is the recommendati

[2015-03-23 18:28] mnot commented on #37
Thanks for the review. A few responses:

I'll send a link to this to apps-discuss for their info.

Great!

Well, it's a SHOULD, so you can violate it if you have reason to. It's a requirement because it seemed important to document the error type, but I agree that it might be too high a bar -- it's more of a strong suggestion than a requirement.

I'm happy to downgrade it to something more suggest

[2015-03-23 18:55] domenic commented on #37
OK, thanks :). Hi apps-discuss, and thanks for your willingness to come engage in our issue tracker.

I think the core of my issue is envisioning someone designing a HTTP API, perhaps someone who hasn't bought into REST all that much. They might naively expect something like `{ "type": "not_enough_money" }`. Being told that they have to convert this to `{ "type": "https://api.example.com/error-typ

[2015-03-23 22:22] slightlyoff commented on #37
I'm very sorry for not getting this done in a more timely way. Sincerest apologies to the IETF WG in question.

In no particular order:

 - *Reserving an extension syntax is a good idea*: Having something like "-" to delimit extensions from built-in items, or defining your extension object (where anything goes) is a good idea early on. Don't really have a preference, but "-" in the name seems fine

[2015-03-23 22:48] mnot commented on #37
Hey Alex,

No worries. I'm going to open separate issues on my repo and link back here to make sure we don't lose anything (both for your comments and @domenic's).

I got some pushback from people on using '-' in names, as there's a preference for camelCase in many existing APIs. Given @domenic's preference above, an extension object might be better.

See explanation above - does that make sense?

[2015-03-23 22:57] mnot commented on #37
@domenic -

No, that would be something like

    "type": "customIdType"
    "title": "custom ID must be a string"
    "detail": <any specifics>

or, more likely something like:

    "type": "dataValidationError",
    "title": "Data Validation Error",
    "detail": [
        {
             "fieldName": "customID",
             "expectedType": "foo"
        }
    ]

[2015-03-23 23:07] domenic commented on #37
Yeah, we're starting to get at the source of the issue here. Which is that, I think most programming languages don't encourage you to create an entirely new error class for each situation. Instead, you reuse a few error types (e.g. ArgumentException or TypeError or similar) in many different ways.

The larger point I'm arguing is to think about how server-side programers are meant to be using this

[2015-04-01 03:11] mnot commented on #37
Sorry, got busy at IETF92.

I question whether it's good practice to just catch errors and deterministically transmute them to on-the-wire artefacts; it seems like an open invitation for security issues.

Also, the aim here is not to take over all error reporting formats -- though that would be nice. It's to avoid people defining their own formats, so they don't get trapped by the common pitfalls.

[2015-04-09 07:32] foolip commented on #45
There two interfaces in the spec are [`Permissions`](https://w3c.github.io/permissions/#idl-def-Permissions) and [`PermissionStatus`](https://w3c.github.io/permissions/#idl-def-PermissionStatus). Would it make sense to construct either of these?

My diagnosis of this is that we *should* want WGs to stay open indefinitely, so that there is always someone to update a spec. Publishing to TR/ and clos

[2015-04-13 19:10] mikewest opened #49 "Credential Management API"
Hello, illustrious TAG members! Would you mind spending a few minutes skimming https://w3c.github.io/webappsec/specs/credentialmanagement/ and jotting down your thoughts?

Thanks!

[2015-04-13 19:13] mikewest commented on #49
Note: @slightlyoff and @domenic provided (very) early feedback on the spec, but I've fiddled with it a lot since then. I suspect I've made mistakes since then. :)

[2015-04-13 19:26] mikewest opened #50 "Upgrade Insecure Requests"
Hello, lovely TAG members. Would you mind reading over https://w3c.github.io/webappsec/specs/upgrade/ in your copious free time, and providing some feedback to the WG?

We're shipping an initial cut at this in Chrome 43, so I expect implementation experience to help shape the near-term future of the feature. It would be excellent to get your take on the broader problem of migration to HTTPS to see

[2015-04-16 03:51] domenic commented on #49
(Former TAG member here.) I filed a bunch of issues on minor things to the bug tracker.

Overall quite excited with what this brings. A clear incremental improvement, with good future potential but also solid wins in the present.

[2015-04-16 04:19] mikewest commented on #49
Thanks, Domenic. I appreciate the time you spent going through the document and filing issues. I might even address some of them today!

[2015-04-16 12:49] zcorpan opened #51 "CSSOM View document.scrollingElement"
The Blink team would like a TAG review of document.scrollingElement before LGTM-ing shipping it.
https://groups.google.com/a/chromium.org/d/msg/blink-dev/mJ5SlCj3CHc/hkQuqROnwl4J
https://groups.google.com/a/chromium.org/d/msg/blink-dev/mJ5SlCj3CHc/SnJ5rNxCiOUJ

Spec: http://dev.w3.org/csswg/cssom-view/#dom-document-scrollingelement

Background/rationale
https://github.com/operasoftware/devopera/is

[2015-04-16 13:15] foolip commented on #51
The next branch point is on May 15th, 2015, so it would be very good to have any feedback well before that in case we want to ship with the next milestone.

[2015-04-16 16:04] domenic commented on #51
I'm personally unclear why this is the right path. Given the existence of e.g. https://github.com/mathiasbynens/document.scrollingElement it seems like we are essentially baking a jQuery-style browser normalizer ... into the browser. Which means we'll have to support it going forward forever.

Why does this drop-in replacement need to be provided by the browser? It's marginally easier for authors,

[2015-04-16 16:21] RByers commented on #51
I agree there is some cause for concern here.  I believe your argument is only compelling when your ignore quirks mode.  Even in the future when Blink/WebKit are fixed, libraries still need a bit of logic to determine which element is the scrolling element.

Trying to get sites to update to support the spec compliant behavior without a UA check it'be become clear to me that scrollingElement is a b

[2015-04-16 16:40] domenic commented on #51
The scenario here is a library that intends to work in quirks mode as well as standards mode? Is that a widespread need? If so that would indeed be a good argument.

The rest of your post explains why you think this will work but doesn't really address my concern for why I think it could not work. In other words, I think you are missing long-term futures like

4) All browsers have irrational behav

[2015-04-16 17:04] foolip commented on #51
Ouch, so this has already happened. Did they tell you which kinds of sites were fixed by this? Is it just sites that sniff for WebKit, or is it more intricate?

[2015-04-16 17:13] RByers commented on #51
Isn't this how browser APIs evolve to some extent?  As frameworks figure out better API surface area to reduce developer confusion and interop problems, we _should_ consider adopting it into the core platform for universal availability?

I don't know how common this is.  Many of the solutions I've seen for this "how do I identify the scrolling element" question involve checking for quirks mode.  E

[2015-04-16 17:15] RByers commented on #51
From what I've heard, it's only due to UA sniffing.  EdgeHTML includes 'Webkit' in it's UA, so in general plans to copy WebKit bugs where it matters for interop and we don't have a clear plan to solve them.  My hope was that we could still solve this before it gets worse - if I can make the change stick in blink then EdgeHTML and WebKit would hopefully find it relatively easy to follow suit.

[2015-04-16 21:26] mathiasbynens commented on #51
Some more background on why moving this from user code to the browser might be a good thing: feature-detecting the scrolling element (especially if you need to get the edge cases right, which is what libraries usually aim for) is costly. One way is to actually scroll the document:

[code]

The terribleness might explain why so many (e.g. Google, Facebook) opt to UA sniff instead, which is more per

[2015-04-16 22:12] mikesherov commented on #51
This originally surfaced as a bug in jQuery/jQuery UI. IMO, scrollingElement is just another hack around the issue. The canonical, non-UA sniff, AFAIK, is to do `$html.scrollTop() || $body.scrollTop()`. The *problem* was that lots of people were using `$html.scrollTop() + $body.scrollTop()`, which is problematic when the body or the html element have `overflow: scroll;` applied.

[2015-04-16 22:22] RByers commented on #51
Mike, do you have a suggestion for how we get frameworks like closure to update without adding an API like scrollingElement?  I'm hearing a bunch of objection to scrollingElement, but I haven't yet heard anyone suggest a realistic path for actually fixing the problem here.  As with most compatibility vs. rationality debates the problem is over constrained.  If we continue to hold out for a perfect

[2015-04-16 22:53] mikesherov commented on #51
The bug was inherited from Webkit, who has since ripped the bandaid off.

If the future is that scrollingElement is just another stop gap, and already has a polyfill, we point the libs to the polyfill until they can wrap their heads around just always using document.documentElement.

jQuery has worked around this in UI for a while. In fact, we're eagerly awaiting the bandaid to be ripped off simpl

[2015-04-16 23:03] RByers commented on #51
Wait, what do you mean WebKit has ripped the bandaid off?  There has been an open bug there for 9 years ([this](https://bugs.webkit.org/show_bug.cgi?id=106133) and previously [this](https://bugs.webkit.org/show_bug.cgi?id=9248)) which they've tried and failed to fix (for similar reasons as us).  If they successfully changed then I have no doubt we could too.  But instead the opposite is happening

[2015-04-17 00:05] mikesherov commented on #51
I missed that Webkit had to revert. I was eagerly watching it land initially. My apologies for the mistake.

It still just seems like a weird wart to me to have to add API surface simply for feature detecting the presence of a bug.

In either case, I think having a canonical polyfill is good enough, but for me, anything we can do to move the web forward here works.

I'm tired of writing `$('html,

[2015-04-17 14:49] RByers commented on #51
Domenic, please take a look at the current (now believed to be correct) implementation of the scrollingElement polyfill: https://github.com/mathiasbynens/document.scrollingElement/blob/master/scrollingelement.js.

Hopefully the complexity / subtlety here helps justify why it'll be a tough sell to get frameworks/apps to fix their bug by replacing a 1-line UA check with this 100-line polyfill.

[2015-04-17 15:31] mikesherov commented on #51
To be fair, more than a few of those lines are to support IE4 and IE7. Also a few of the lines ensure its a property rather than a function that can be called. Also, if I'm reading it right, it always returns document.documentElement is non-quirks mode?

Does FB or Closure support non-quirks mode or any of those effected by this bug actually support the browsers that take up a good portion of the

[2015-04-17 15:35] mathiasbynens commented on #51
Not in buggy WebKit/Blink browsers.

[2015-04-17 15:45] RByers commented on #51
Closure at least [supports quirks mode](https://github.com/google/closure-library/blob/32365aba43acb36c5d693256ef5d4dbe3bddddfe/closure/goog/dom/dom.js#L632) - yes.  Can't say about facebook.

[2015-04-17 17:19] domenic commented on #51
@RByers I really just don't think it makes sense to ship that kind of polyfill with a browser. You've found one library (a Google library!) which directly exposes the scrolling element. Because they've purposefully added such complexity, it seems totally reasonable for them to eat it and ship the few lines necessary for non-IE4/IE7 support. Others can use much simpler tricks that have been cited i

[2015-04-19 18:44] zcorpan commented on #51
It might be worthwhile to point out that a native implementation does not have the same complexity as the polyfill. The "scrolling element" is a concept that the browser needs anyway to implement `scrollTop` et al, so it's just a matter of exposing that concept with an IDL attribute.

[2015-04-19 20:10] mathiasbynens commented on #51
This makes it sound like a no-brainer, given [the Extensible Web Manifesto](https://extensiblewebmanifesto.org/).

[2015-04-20 02:34] mikesherov commented on #51
So, just so that I'm clear, can you show a code example of how FB or jQuery or Closure uses this property, including cases where it isn't present?

[2015-04-20 09:39] zcorpan commented on #51
With polyfill:
[code]
[code]

without polyfill, fall back to UA check
[code]
[code]

[2015-04-22 00:13] slightlyoff commented on #35
Per F2F discussion with @astearns at today's TAG meeting, I think we can close this issue with the following disposition:

 - The TAG is glad to see a Box Tree API anticipated in the design of the current API
 - We're also glad to see so much thought put into the fragmenting aspects and are anxious to see more API develop around the [CSS Fragmentation draft](http://www.w3.org/TR/css3-break/)
 - Th

[2015-04-22 00:13] #35 closed

[2015-04-22 00:14] slightlyoff commented on #47
Obseleted by discussion here: https://github.com/w3ctag/spec-reviews/issues/35#issuecomment-94979260

[2015-04-22 00:14] #47 closed

[2015-04-23 19:32] diracdeltas commented on #50
This has been a recurring subject in the last 2 days of TAG meetings; I'll try to provide feedback today.

[2015-04-23 20:50] RByers commented on #51
I've talked with the Closure developer for this today.  He is [unwilling to use the iframe measurement hack as it's too expensive](https://github.com/google/closure-library/issues/455).  I.e. scrollingElement or something like it appears to be necessary to get most Google properties updated.

[2015-04-23 21:24] mikesherov commented on #51
@RByers Again, I'm a layman, so please just take my comments as feedback. I've also been trying to solve this problem for a while on behalf of jQuery, and this is as close as we've ever gotten to a solution....

what about a boolean property rather than an additional reference to document.documentElement? I think @domenic and my (layman) main objection is about yet another property referring to th

[2015-04-23 21:27] RByers commented on #51
Sure, that would be fine with me as well.  You could argue that adding to 'Document' is a smaller change than adding to 'Element', but then we could have 'boolean Document.bodyScrollsDocument' or some such.  I'm happy to take any suggested tweaks like that to the CSS WG and other vendors.

[2015-04-23 21:34] mathiasbynens commented on #51
@mikesherov

It’s not just another reference to a fixed value. `document.scrollingElement` would only be a reference to `document.documentElement` in standards mode and if the browser implements the scrolling element as per the spec. I.e. if WebKit were to implement `document.scrollingElement` before fixing their bug, `document.scrollingElement` would not point to `document.documentElement` even i

[2015-04-23 21:34] mnot commented on #51
Discussed at SF F2F; Alex will draft a review.

[2015-04-23 21:40] torgo commented on #14
Discussed at April 2015 f2f - mostly considering rechartering - Dan to report back at next telco

[2015-04-23 21:58] torgo opened #53 "contributing.md document needed for tag reviews"
Document the following:

* timeliness of required review
* has a security review been done?
* expectation of what happens next

[2015-04-23 22:19] mnot commented on #45
Discussed in SF; consensus on Alex's feedback.

[2015-04-23 22:19] #45 closed

[2015-04-23 22:19] mnot commented on #43
@Mnot gave feedback; has been responded to. Following up.

[2015-04-23 22:21] mnot commented on #42
Discussed in SF; @slightlyoff TBD.

[2015-04-23 22:44] diracdeltas commented on #50
I took a shot at this in #54; check it out mike!

[2015-04-23 22:48] mnot commented on #41
Discussed in SF; -- syntax still there. Variables in CSS not easily settable in script. Observing variable changes is difficult. @plinss to write up.

[2015-04-23 22:49] mnot commented on #40
Discussed at SF: @torgo to check status with Robin.

[2015-04-23 22:51] mnot commented on #38
Discussed in SF; scheduled for 5-20

[2015-04-23 22:52] mnot commented on #37
Discussed in SF; can close.

[2015-04-23 22:52] #37 closed

[2015-04-23 22:57] mnot commented on #34
Discussed  in SF; overtaken by events, as is in RFC Editor queue.

http://www.ietf.org/proceedings/88/slides/slides-88-appsawg-8.pdf
http://datatracker.ietf.org/doc/draft-ietf-appsawg-multipart-form-data/

[2015-04-23 22:57] #34 closed

[2015-04-23 23:06] mnot commented on #24
Discussed in SF; @slightlyoff concerned about persistence aspect and privacy considerations. We agree that this seems like a "powerful" feature.

We'd also like to see an API. @slightlyoff to write up a review.

[2015-04-23 23:08] mnot commented on #22
Discussed at SF; @torgo to follow up.

[2015-04-23 23:11] mnot commented on #20
Discussed in SF; @torgo to follow up with @domenic and Kenji B.

[2015-04-23 23:12] mnot commented on #14
Discussed in SF; still didn't work talking to Fluffy.

Hmm.

Had general discussion of re-charter. @torgo to report back.

[2015-04-24 02:20] mikesherov commented on #51
@mathiasbynens sure, that makes sense. Thanks for walking me through it. I'll state my case one last time, and then be done with it :-)

I suppose that my main objection is simply that I'd prefer to just feature detect that this bug is fixed, and go on my merry way of behaving the way the spec is written, rather than augmenting the spec to including an additional reference (even though it changes

[2015-04-24 07:47] zcorpan commented on #51
So in the future, assuming the bug is successfully fixed, and you don't have to worry about current-era browsers, but still worry about quirks mode (like Closure does), with `scrollingElement` it would be like this:

[code]
(or scrap the method altogether and use `scrollingElement` directly)

with `behavesCorrectly` it would be (assuming it returns `false` in quirks mode?)

[code]
However this wou

[2015-04-24 10:38] dperini commented on #51
Shouldn't the `scrollingElement` property be part of the `viewport` instead of the `document` ?
Thus `document.defaultView.scrollingElement` or simply `window.scrollingElement`.

[2015-04-24 11:02] zcorpan commented on #51
* It's supposed to be a drop-in replacement for `document.body` or `document.documentElement`, which are on `document`.
* Adding a property on the global is higher risk than adding a property on `document`.

[2015-04-25 14:31] dperini commented on #51
@zcorpan thank you for the relevant point of view, I understand your reasoning behind both of them.
However some of the late additions to the global do not follow that exact reasoning.
For example API like `window.requestAnimationFrame()` and `window.cancelAnimationFrame()`, or speaking of recent properties additions `window.localStorage` and `window.sessionStorage` which are the new `document.coo

[2015-04-25 17:18] phistuck commented on #51
@dperini - do you have an example of a property of `window` that refers to an element (not `document`)?
`for (x in window) { try { if ("nodeType" in window[x]) console.log(x) } catch (e) {}}`
Only outputs -
`document`
For me.

[2015-04-27 10:11] torgo opened #55 "CSV on the Web"
TAG alumna @JeniT [has requested](https://lists.w3.org/Archives/Public/www-tag/2015Apr/0028.html) TAG feedback on the CSV on the Web working drafts.

[2015-04-27 14:14] dperini commented on #51
@phistuck,
no I don’t have such an example, but I don’t think that’s the way to measure the correctness of what is being implemented (wrongly in my humble opinion).

Other than that, my proposal was to have a `getScrollingElement` polyfill or a new method on the global space and not a new `scrollingElement` property on the `document`. There may already be enough aliases of the `documentElement/bod

[2015-04-27 14:23] phistuck commented on #51
@dperini - I am not sure mixing DOM concepts (DOM elements) and `window` (which is a `global`) is the right way to go but I defer to others for the rationale behind not adding such properties to `window` so far (I guess there is a rationale).

By the way, the methods you mentioned look like legacy methods (introduced by a single browser in the first browser wars and copied by others for compatibil

[2015-04-27 17:46] dperini commented on #51
@phistuck,
@phistuck,
just to say it clearer ... I am against adding a `scrollingElement` property to the `document`, it is already clear in the specs in which cases the scrolling element will be the `body` element (only in Quirks Mode), in all other cases the scrolling element should be the `documentElement`.
In any case, if that's deemed necessary to ease future detection I suggest adding a new

[2015-04-27 17:48] dperini commented on #51
@phistuck,
just for fun, but following the reasoning in the above code snippet, you can see that on the `document`, excluding the Traversal properties, there is only one property pointing to an `Element` whose `parentNode` is a `document` node (nodeType == 9):

    for (x in document) {
        try {
            if (!/Child$/.test(x) && document[x].nodeType == 1) {
                if (document[x].

[2015-04-27 17:57] dperini commented on #51
Just noticed that in ChromeCanary, when enabling the "Experimental Web Platform Features" in a frameset document, the `document.scrollingElement` may be a reference to the frameset element.
Also, for a newly created document the same property value will be `null`. Not sure it is expected.

[2015-04-27 18:02] dperini commented on #51
Also noticed that Safari is missing some of the "DOM 2 Traversal" properties/attributes on the `document`. Both Firefox and Chrome have `firstElementChild` and `lastElementChild` properties on the `document` node.

[2015-04-27 18:03] phistuck commented on #51
@dperini - why do you only look for nodes that have `document` as their parent node? It is a meaningless constraint (to me, anyway).
`document.body`, `document.head`, `document.images[0]` and so and so (yes, traversal as well) return nodes. Nothing on `window` does, except `document` which is the only entry point to the DOM.

Anyway, I am just stating the current state of affairs. It does not mean

[2015-04-27 18:04] RByers commented on #51
That is expected.  document.body sometimes returns a frameset](http://www.w3.org/TR/html5/dom.html#the-body-element-0) too, and [document.documentElement should be null in the empty document case](https://dom.spec.whatwg.org/#document-element).

[2015-04-27 18:57] dperini commented on #51
@phistuck,
I didn't want to sound disrespectful, I am not an expert either, these were just my observations.
As there is only one property on `window` to drill-down to the DOM tree, there is only one property on `document` referring to an element having the `parentNode` to walk-up directly to the DOM tree host object, the `document` itself. But, I repeat, it was "just for fun" I am not trying to d

[2015-04-27 19:05] dperini commented on #51
@RByers thank you for the answer, the clarification and the links to the relevant specifications.

[2015-04-28 03:55] jasnell commented on #37
Btw, it's **far** from perfect but... https://www.npmjs.com/package/http-problem

[2015-04-28 04:03] jasnell commented on #37
It would be far more natural having a pattern such as ...
[code]
where the serialization would be...
[code]

[2015-04-28 19:12] igrigorik commented on #24
@mnot @slightlyoff for context, discussion on why JS API was removed: https://lists.w3.org/Archives/Public/public-web-perf/2015Jan/0023.html

[2015-04-28 19:17] igrigorik opened #56 "Frame Timing API"
http://w3c.github.io/frame-timing/

* Outstanding issues: https://github.com/w3c/frame-timing/issues
* Blink I2I: https://groups.google.com/a/chromium.org/d/msg/blink-dev/CJkKG3Uoyvk/rSFV1f7hxqkJ
* Mozilla I2I: https://groups.google.com/d/msg/mozilla.dev.platform/5dzctcjEhSw/HVI0IYMr-vMJ

/cc @mpb

[2015-04-28 21:26] zcorpan commented on #51
@RByers

The frameset thing is a bug, the CSSOM View spec for `scrollingElement` does never return a frameset element. It specifically calls this out in a note. :-)

@dperini It seems to me that your line of reasoning is that the `window` is equivalent to "the viewport", but I think that is not the case. There is no object actually representing the viewport. So for some APIs it's the window, for s

[2015-04-29 11:01] dperini commented on #51
@zcorpan,

from what I understand this is almost exact, a more elaborate wording to describe that could be:

in a desktop browser, showing an non styled document, the `window` is equivalent to the `document.defaultView` which is the default document viewport ("porthole").

In mobile browsers having vendor supplied UA stylesheet, or in desktop browsers having user supplied stylesheet, the supplied

[2015-04-29 13:57] dperini commented on #51
@zcorpan,
basically each DOM Element could be made to represent a `viewport` through the use of CSS `overflow` property combined with the `width` and `height` properties.

[2015-05-01 18:45] slightlyoff commented on #51
Hey all,

Thanks for the thoughtful discussion here.

Per most transitional periods for features, we might see pain for a long time as a result of any change. That means we aren't going to take a side about what Blink should do to manage a transition (if any).

The TAG's job is to make sure that _when_ we arrive at a different world, it's the one that's actually better. A functional DOM that doesn

[2015-05-03 14:59] dperini commented on #51
@slightlyoff,
handling multiple viewports has never been the objective here, it was only a discussion follow-up.
I believe that https://github.com/dperini/scrollToAnchorRef project better explains my point on why I absolutely needed to determine the `scrollingElement` of the current `defaultView`in a cross-browser way.

[2015-05-05 16:36] RByers commented on #51
@zcorpan

Ah, thanks.  I see now that I recently introduced [a bug](http://crbug.com/484720) here (where document.body.scrollTop would scroll the viewport even when body is a frameset).  I will get that fixed before it hits beta.

[2015-05-05 23:28] travisleithead commented on #51
Point of information: this has recently been implemented in "Microsoft Edge" (Project Spartan), as per the agreement in: https://groups.google.com/a/chromium.org/forum/#!searchin/blink-dev/scrollingelement/blink-dev/mJ5SlCj3CHc/PNSSYY5O_IQJ

It solves the problem of working around Blink's viewport bug (which Edge copied for interop), and also helps with the Quirks Mode use case. So, seems OK to me

[2015-05-06 14:12] dontcallmedom opened #57 "Media Capture and Streams"
Media Capture and Streams is in Last Call review period, and the TAG was among the [groups flagged to bring a review](https://lists.w3.org/Archives/Member/chairs/2015AprJun/0017.html):

especially the introduction of the concept of a IANA registry-based
constraints system, the use of promises, and our handling of persistent
permissions

The last call period ends on May 15.

[2015-05-07 20:32] diracdeltas commented on #43
What is the status of this? @hillbrad just sent an email to w3ctag requesting review by 5/26.

[code]

[2015-05-07 20:58] diracdeltas commented on #50
Closed by #54

[2015-05-07 20:58] #50 closed

[2015-05-20 21:26] torgo commented on #55
We will discuss on telecon June 03 - @JeniT to join.

[2015-05-20 21:27] torgo commented on #49
Closed on [telecon 20-May-2015](https://github.com/w3ctag/meetings/blob/gh-pages/2015/telcons/05-06-upgrade-insecure-agenda.md).

[2015-05-20 21:29] torgo commented on #38
Discussed [5-20](https://github.com/w3ctag/meetings/blob/gh-pages/2015/telcons/05-20-credentials%26fingerprinting-minutes.md) we may run a special session in Berlin on this.

[2015-05-21 21:54] domenic commented on #20
I finally went back and looked through the old concerns about this. (Had to dig through my old email account in fact.) They have all since been taken care of.

[2015-05-21 21:54] #20 closed

[2015-05-22 01:12] slightlyoff commented on #24
I think the logic there makes sense. Has any thought been given to if/when SWs interact with reports?

[2015-05-22 07:04] torgo commented on #20
Thanks, Domenic – any further info you ca point us to on that (just for closure)?

[2015-05-22 19:43] domenic commented on #20
The original concern (from Ryan Sleevi) was about the initialization process for FontFace objects being underspecified and buggy in a few areas. These concerns were addressed over time in the following commits:

- https://github.com/w3c/csswg-drafts/commit/88134a76d2b039f2ca99942e7e76ec83fb33392a
- https://github.com/w3c/csswg-drafts/commit/b9923152182a54ccaf16330149049631af30912e
- https://github

[2015-05-22 19:57] torgo commented on #20
You rock.

[2015-05-22 20:08] tabatkins commented on #20
Alternately: I do.

[2015-05-26 16:42] igrigorik commented on #24
@slightlyoff good question, we have not. Opened a bug: https://github.com/w3c/network-error-logging/issues/54#issuecomment-105597935

[2015-06-01 19:07] hadleybeeman commented on #55
To discuss with the TAG:

1. I think this is most appropriate, to future-proof the spec.  The last thing we want to do is to tie people to the list of formats the working group currently use (which may or may not be representative of everything out there) or to the list of everything currently in use (with no scope for future expansion).  Further, it makes sense to not restrict this to the list of

[2015-06-02 08:40] torgo commented on #55
Scheduled for our next call: https://github.com/w3ctag/meetings/blob/gh-pages/2015/telcons/06-03-csv-agenda.md

[2015-06-02 10:00] JeniT commented on #55
Could we also please discuss https://github.com/w3c/csvw/issues/562 briefly.

And it's probably useful to have the link to the TAG thread: https://lists.w3.org/Archives/Public/www-tag/2015May/0014.html

[2015-06-02 10:01] torgo commented on #55
Sounds good – can you make a PR to the agenda file?

Dan

[2015-06-08 05:36] mnot commented on #55
WRT media types - it's extremely easy to register them now, see <http://tools.ietf.org/html/rfc6838#section-3.2>.

[2015-06-08 19:05] hadleybeeman commented on #55
Where are we on this, procedurally? Jeni, when can you next join us? I'm really sorry to have been ill last week.

[2015-06-08 20:02] torgo commented on #55
No worries Hadley. We agreed on last week's call to rerun the topic this week - this Wednesday. Jeni has agreed to join us. I haven't published our minutes yet but I will do so by tomorrow. Dan

[2015-06-09 08:35] torgo commented on #55
See https://github.com/w3ctag/meetings/blob/gh-pages/2015/telcons/06-03-csv-minutes.md for minutes from last week's call.

[2015-07-01 08:17] anssiko commented on #22
The latest Web NFC spec to be reviewed is at http://w3c.github.io/web-nfc/

I suggest you update the initial comment to clear any confusion.

Since this issue was opened, this spec work has been moved from WG (http://www.w3.org/2012/nfc/) to CG (https://www.w3.org/community/web-nfc/) to attract wider participation and to cater specifically for browser vendors. The CG participants now include Googl

[2015-07-15 08:48] mnot opened #59 "File URI Scheme"
The IETF APPSAWG is working on the file scheme:
  https://tools.ietf.org/html/draft-ietf-appsawg-file-scheme-02

[2015-07-15 13:14] mnot opened #60 "WebPush"
https://tools.ietf.org/html/draft-thomson-webpush-protocol
https://tools.ietf.org/html/draft-thomson-webpush-encryption

[2015-07-16 08:09] timbl commented on #14
This issue is a bit vague -- what about WebRTC?  Charter? Technology? Privacy?

[2015-07-16 08:12] travisleithead commented on #14
Related WebRTC issue. https://github.com/w3c/webrtc-pc/issues/179

[2015-07-16 08:12] torgo commented on #14
Current topics of discussion at Berlin F2F  are: WebRTC rechartering and privacy issues.

[2015-07-16 08:20] chaals commented on #14
Proposed charter: http://www.w3.org/2015/06/webrtc-charter.html

[2015-07-16 08:25] torgo commented on #14
If parties are using WebRTC technology to aid fingerprinting and not in service of actual services delivered over WebRTC then maybe this is an indication that an additional permission step should be required.

[2015-07-16 08:33] torgo commented on #14
One threat model discussed: in the use of e.g. Tor browser or VPNs by activists who may want to conceal their source IP, WebRTC may enable attackers to determine those IP addresses.

[2015-07-16 08:45] diracdeltas commented on #14
relevant: https://tools.ietf.org/html/draft-ietf-rtcweb-security-arch-11#section-5.4

[2015-07-16 08:49] diracdeltas commented on #14
Tor disables webrtc at FF compilation time currently but are thinking of re-enabling it with IP address hiding: https://trac.torproject.org/projects/tor/ticket/16221 (really interesting idea to use hidden services for ICE!)

[2015-07-16 08:51] torgo commented on #14
Agreed today: Mark will report back on the privacy issue. We have no substantive feedback on the rechartering.

[2015-07-16 09:14] torgo commented on #55
Discussed and closed at the Berlin f2f. According to @JeniT, "We’re planning to go to CR this week and I think the issues I’d brought to the TAG were resolved through the telcons."

[2015-07-16 09:14] #55 closed

[2015-07-16 09:18] mnot commented on #59
Mike west notes that it'd sure be nice if this referred to the Origin spec.

[2015-07-16 09:28] torgo commented on #42
Discussed at Berlin f2f: Alex: Webappsec in process of formalizing CSP level 2 (renamed from 1.1). We should reengage once they have CSP 2 out the door.

[2015-07-16 09:33] torgo commented on #43
@mnot and @diracdeltas have reviewed and are happy.

[2015-07-16 09:33] #43 closed

[2015-07-16 09:36] torgo opened #61 "Presentation API Request for Feedback"
François has requested our feedback https://lists.w3.org/Archives/Public/www-tag/2015Jul/0001.html on the presentation API: https://w3c.github.io/presentation-api/

[2015-07-16 09:39] torgo commented on #56
Assigned to @dbaron at the f2f. Will pick up at telcos 5-Aug.

[2015-07-16 09:39] slightlyoff commented on #56
Explainer doc here: https://github.com/w3c/frame-timing/wiki/Explainer

[2015-07-16 09:43] torgo commented on #18
Question: does the group want our feedback? We need to reach out and schedule a discussion with them on a future telcon.

[2015-07-16 09:45] slightlyoff commented on #18
/cc @igrigorik

[2015-07-16 09:51] torgo commented on #41
From Berlin f2f: @travisleithead thinks it's fine.

[2015-07-16 09:58] #41 closed

[2015-07-16 10:13] slightlyoff commented on #41
I'd like to note that the lack of an API is disappointing. I know there's work to get it done, but I don't understand the current state and would like to see it prioritized.

[2015-07-16 10:23] torgo commented on #40
At f2f in berlin: we agreed we should encourage this to be dropped into the incubation community group. I will make a note as such to Robin.

[2015-07-16 10:23] #40 closed

[2015-07-16 10:27] torgo commented on #22
Questions raised at f2f: can a webapp be invoked as a result of a NFC interaction?

[2015-07-16 10:29] torgo commented on #22
Looks like for user-initiated actions this is OK. What other use cases could be taken into account such as the physical web use cases? These bring up the registration problem.

[2015-07-16 10:30] torgo commented on #22
@slightlyoff : API design looks good and is "modern"

[2015-07-16 10:32] torgo commented on #22
Question: should we have a focused discussion on NFC on a future call where we bring the spec authors and others from relevant groups / implementations together? Would this help to accelerate the work?

[2015-07-16 10:34] torgo commented on #22
Agreed at f2f: @torgo to discuss with @anssiko and see how we can help push this forward.

[2015-07-16 10:36] torgo commented on #59
At f2f: @travisleithead says MS people say it "looks great" - didn't answer the question about origins in relations to the file scheme but that is maybe an operating system-specific question.

[2015-07-16 10:39] mnot commented on #59
@annevk any thoughts? Seems like fetch integration would be good.

[2015-07-16 10:44] annevk commented on #59
Skimming through that draft I don't see it really tackling any problem (parsing or retrieving) well... Agreed that if someone defined retrieval based on a file URL that would be good for Fetch.

[2015-07-16 10:49] travisleithead commented on #59
There hasn’t been – to this point – a document that has written done how this scheme works, and for that reason this is a good document.

[The Web Origin Concept](https://tools.ietf.org/html/rfc6454#section-4) seems to punt on how to handle origins though--and that's what I'm most keen on seeing described, at least the mapping to the OS I care about. This is not directly related to this issue, how

[2015-07-16 11:31] annevk commented on #59
But it doesn't define how it works.

[2015-07-16 11:42] mnot commented on #59
@annevk - do you think it would be possible to define implementation details in fetch, and align with this doc?

[2015-07-16 11:51] torgo commented on #57
@travisleithead "use of promises looks fine to me."

[2015-07-16 11:52] annevk commented on #59
I don't understand what you think this document defines that's novel or useful?

File URL parsing should be defined by the URL Standard (that also defines the origin of URLs btw). File URL fetching/retrieval could be defined by Fetch, if we really wanted to (not sure why it would be useful).

[2015-07-16 12:01] mnot commented on #59
Last I checked URL standard was still in limbo, no?

[2015-07-16 12:09] annevk commented on #59
Not sure what you mean. Maybe in politics land. (There's open issues for sure, including around file URLs, but this draft addresses none of those.)

[2015-07-16 12:11] travisleithead commented on #57
@slightlyoff: asks how this relates to Streams regarding who's buffering (if at all) and when. There may be an inconsistency between the two models. Specifically, this came up in regards to the MediaStream.clone() API.

@mnot notes that the per-origin uniqueness aspect of deviceID isn't clearly speced in the normative section of the document (it's mentioned in the privacy considerations though).

[2015-07-16 12:12] mnot commented on #59
everything is political, Anne - even the WHATWG :)

[2015-07-16 12:20] annevk commented on #59
Anyway, I guess what I'm saying is that it's being implemented and somewhat actively maintained (as time allows).

[2015-07-16 12:41] slightlyoff commented on #57
Specifically, I think we need to chat with @domenic about the consumption model and the implicit semantics that come from having a `.clone()` method.

Similarly, I think we should talk to @cwilso et. al. about `AudioContext::createMediaStreamSource()` and how these streams get from bytes to decoded bytes. How the heck does that happen? Where does decode take place? On what thread? Can I have acces

[2015-07-16 13:16] travisleithead commented on #59
So, URL spec seems to be a superset

[2015-07-16 14:26] dontcallmedom commented on #57
I assume this input will be built into a more formal feedback to the WebRTC and DAP groups? If so, any idea of when that feedback might be available? Thanks!

[2015-07-16 14:32] diracdeltas commented on #57
@travisleithead could you make sure the review incorporates or addresses https://github.com/w3c/mediacapture-main/issues/212?

[2015-07-16 16:04] igrigorik commented on #56
Note that the explainer doc has diverged a bit from the latest API. We need to fix that.

/cc @mpb @paullewis

[2015-07-16 17:41] tabatkins commented on #41
Getting/setting API is absolutely there - they're *properties*, so you just use the normal property API.  Because of naming, you can't use the easy `style.foo` API, but `style.getPropertyValue()` is an old and well-established API.

Observing changes is indeed difficult, and is being addressed in Houdini <http://drafts.css-houdini.org/css-properties-values-api/>.  Getting Variables out the door re

[2015-07-16 18:21] igrigorik commented on #18
@torgo re, feedback: yes. FWIW, we're doing a lot of shuffling and spec cleanup work at the moment, so (a) make sure you're looking at the latest draft, and (b) check the open issues as we have a bunch of work in flight.

[2015-07-17 13:22] mikewest opened #62 "Clear Site Data"
WebAppSec will likely be publishing Clear Site Data as a FPWD in the somewhat near future: https://w3c.github.io/webappsec/specs/clear-site-data/. It would be lovely if you folks could take a look from a layering and architectural point of view.

/cc @mnot @slightlyoff @diracdeltas

[2015-07-17 13:24] mikewest commented on #59
This new document ignores it completely. I agree with @travisleithead that we need a document that doesn't punt on this, but I agree with Anne that this document isn't it. :)

Note, of course, that URL also explicitly leaves `file:` URL origins as an exercise for the reader.

[2015-07-17 13:26] mikewest commented on #42
Current plan is to republish http://www.w3.org/TR/CSP2/ as a CR to deal with something we had to remove, then proceed to PR and eventually REC.

I plan to kick off CSP3 (again) this quarter. Hope that actually happens.

[2015-07-17 13:27] annevk commented on #59
Other than parsing it's still not clear to me that interop on file URLs is needed much, but I'm happy to assist anyone who wants to do work on the other aspects. I'll fry some other fish meanwhile.

[2015-07-17 14:18] domenic commented on #42
Edited OP to point to new CSP2 URL

[2015-07-17 14:30] slightlyoff opened #63 "Extensibility of Accessibility"
Per F2F conversations with @chaals and @travisleithead at the July Berlin meeting, we are going to sketch out design alternatives for low -> high level event synthesis and reuse of behavior and ARIA roles/states for new elements (i.e., avoiding re-creating all of the infrasturcture to manage focus/assistive state for everything that's button-alike).

/cc @domenic

[2015-07-17 14:36] domenic commented on #63
Cf. https://github.com/domenic/html-as-custom-elements/blob/master/docs/accessibility.md#toward-a-solution-roles and following sections, although there are definitely other shapes such an API could take that would work, including potentially simpler ones.

[2015-07-17 14:44] mnot commented on #59
I can make suggestions / requests of the WG next week in Prague; anything in particular you'd like to see them do? Note that "don't publish this" is probably not going to fly, especially considering that (to them) the URL Standard doc has no status.

[2015-07-17 14:45] mnot commented on #59
(mm fried 🐠)

[2015-07-17 15:05] annevk commented on #59
They should do whatever makes them happy. It's just not of use to us.

[2015-07-17 20:55] dbaron commented on #59
It also seems like it might be worth explaining slightly more of the security aspects that go *beyond* the Web's origin model.  Gecko has linking prohibitions that apply to file URLs that are separate from origin checks, that, e.g., forbid inclusion of images from http to file and similar, to prevent attacks like the ones mentioned briefly in Security Considerations (e.g., using files in /dev/ for

[2015-07-17 22:44] travisleithead commented on #59
+1 to @dbaron; Trident has a variety of blocks from http -> file from things like ```iframe```, ```object```, and ```img``` sources to name a few.

Re: origins, We also have a request to define which file: origins have access to other file: origins, if at all. The common case is whether ```file://c:/directory/file.htm``` has access to something in its current directory (```file://c:/directory/othe

[2015-07-22 18:40] diracdeltas commented on #59
I was assigned to review this but am hosed with work these few weeks. @travisleithead do you want to take the lead on putting together the review?

[2015-07-22 19:36] diracdeltas commented on #62
In 2.1:

This seems to contradict 3.4.4. Namely, if subdomain.example.com sends the clear cookie header, 2.1 implies that a cookie for .example.com would be cleared (since it would have been sent to all subdomains).

[2015-07-23 17:46] travisleithead commented on #59
I'd be OK with that, but I already have Issue 61 to prepare for 7/29... mayhaps someone else would like to grab this?

[2015-07-23 22:55] diracdeltas commented on #59
I read through this and didn't have any comments; like others, I thought this was going to address issues like origin separation and fetch. It makes sense that it doesn't, I guess.

[2015-07-27 21:21] diracdeltas commented on #59
@mnot are you interested in taking this on? Otherwise, I'll just write a doc summarizing this thread before the meeting tomorrow.

[2015-07-27 21:21] diracdeltas commented on #59
@mnot are you interested in taking this on? Otherwise, I'll just write a doc summarizing this thread before the meeting tomorrow.

[2015-07-28 18:46] jyasskin opened #64 "Cross-spec device identification & association"
We're developing several specs that interact with physical devices. Several of these specs provide IDs for their devices to let web developers associate properties with the devices over time. [MediaDeviceInfo](https://w3c.github.io/mediacapture-main/#idl-def-MediaDeviceInfo) takes the extra step of providing separate IDs for the "device", meaning a particular microphone, camera, speaker, etc., and

[2015-07-29 00:39] travisleithead commented on #61
Draft review up at: [Presentation API review](https://github.com/w3ctag/spec-reviews/blob/master/2015/presentation-api.md)

[2015-07-29 00:40] travisleithead commented on #61
Ran out of time on some of the questions at the end :-(

[2015-07-29 19:18] diracdeltas commented on #59
very rough draft: https://github.com/w3ctag/spec-reviews/pull/65/files

[2015-07-29 20:48] torgo commented on #61
Discussed at [call on 29 July 2015](https://github.com/w3ctag/meetings/blob/gh-pages/2015/telcons/07-29-presentationAPI-agenda.md).

[2015-07-29 20:50] torgo commented on #61
Would like to see feedback on this document... @slightlyoff? Schedule a future session specifically on this with members of the 2nd screen working group...?

[2015-07-29 20:53] torgo commented on #61
let's work towards agreeing the feedback for the 12th.

[2015-07-29 20:55] travisleithead commented on #61
Consider reformatting in terms of questions back to the group (to facilitate a conversation with them later)

[2015-07-29 21:00] domenic commented on #61
FWIW I really liked the review. The call for unification with existing features was very nice.

[2015-07-29 21:00] diracdeltas commented on #59
TAG meeting decision:
* @mnot and others, please give thoughts on whether this should be part of the URL Standard.
* i'll update the draft above with those comments

[2015-07-29 21:07] domenic commented on #59
Not sure if I'm others, but I'll be bold:

I think this document is not quite aligned in goals and style with the URL Standard. For example, it defines a BNF for matching or rejecting a given string as "a file URL," instead of rules for parsing strings. (Some of these are present, e.g. "Translating Local File Path to file URI" would be part of the parsing rules. But that does not handle the 'nonst

[2015-07-29 22:26] shans opened #66 "Motion path spec"
https://drafts.fxtf.org/motion-1/
- Outstanding issues inline.
- Blink I2I: https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/uqDmsIj6zJY/cS-Vp_XG2oYJ
- Blink I2S: https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/N4o2MoV1zuw

[2015-08-05 00:27] dbaron commented on #56
So I read through the explainer and the specification (the editor's draft link above), although I haven't looked into the history of the mailing list discussion that led to it, so I'm sure I'm missing a good bit of background.

The thoughts I have are below.  Probably I should eventually file them as issues on the specification in some form, but I figured I'd share them here first.  They probably

[2015-08-05 06:17] igrigorik commented on #56
@dbaron thanks a lot, this is all great feedback! Opened a ticket on FT to review and address it - see https://github.com/w3c/frame-timing/issues/44.

[2015-08-05 20:16] torgo commented on #24
Discussed on call 5-aug. Might not be anything to comment on any more. @slightlyoff thinks we can close the issue.

[2015-08-05 20:16] #24 closed

[2015-08-05 20:19] torgo commented on #18
Discussed on call 5-Aug – we want to be involved when they need us but we need to be able to respond to a concrete request for feedback. Issue to be reassigned to Boston f2f.

[2015-08-05 20:22] torgo commented on #56
Discussed David's feedback on on call 5-Aug.

[2015-08-05 20:24] torgo commented on #56
Comments from @slightlyoff : potentially leaks privacy-sensitive (fingerprinting) info about the time it takes to draw a frame.

[2015-08-05 20:26] torgo commented on #56
Will circle back on the privacy issue at the boston f2f.

[2015-08-05 20:34] torgo opened #67 "Review Payments Working Group Charter"
https://lists.w3.org/Archives/Public/public-new-work/2015Aug/0001.html

[2015-08-05 20:44] torgo opened #68 "Find out if the Battery Status API people need our feedback"

[2015-08-11 11:42] anssiko commented on #22
Bringing the spec editors @zolkis and @kenchris in the loop.

The API design seems to be digestible based on initial feedback. That said, we're aware of the [open issues][1] in GH, notably @annevk's feedback on the use of [URL objects][2]. Any TAG guidance on this specific issue would be helpful.

To accelerate the work and iron out the rough edges, the group believes a good next step is to gather

[2015-08-12 08:19] mikewest commented on #62
FYI: We've published this as an FPWD: http://www.w3.org/TR/clear-site-data/

@diracdeltas: Cookies are nuts. Help.

Basically, I'm not really sure what the right behavior is here. Because cookies implicitly span domains, it's tough to reason about them within an origin-based system. In particular, consider `social-network.example.com` wants to use this to clear locally stored data on logout, but `

[2015-08-13 08:22] anssiko commented on #22
The [Intent to Implement in Chrome][1] is out. It includes more information on the implementation approach, platforms initially supported etc. Please chime in on [blink-dev][2] with your feedback.

[1]: https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/dIbUdDU9a6E
[2]: https://groups.google.com/a/chromium.org/forum/#!forum/blink-dev

[2015-08-13 15:34] jyasskin commented on #64
Other specs that should participate in these group IDs:
* [WebNFC](https://github.com/w3c/web-nfc) (@zolkis @kenchris)
* [WebUSB](https://github.com/reillyeon/webusb) (@reillyeon)

[2015-08-13 17:00] reillyeon commented on #64
USB has recently introduced the concept of a "container ID" that is designed to provide a unique identifier for a physical device across the various components within it and external connections it has. For example, a USB printer that also has WiFi can be recognized as the same device no matter how it is connected.

[2015-08-14 17:45] jan-ivar commented on #64
Since I'm mentioned here, I should point out that I'm not sure tying ids from different APIs together is necessarily a good idea. What I meant to illustrate with the detail I gave in the other issue was the varying requirements around ids in specific APIs, as well as the privacy sensitive nature around them with regard to unintended use or misuse, as well as to their lifetimes.

With all those nee

[2015-08-16 06:01] annevk commented on #59
@travisleithead my thoughts on origins are that I would love to isolate all file URLs from each other, even even from themselves, by always returning a new globally unique identifier as origin. I don't think folks should use file URLs for web development. Browsers should probably make it easy to serve up pages from `http://localhost/` somehow.

However, I've not written that in the specification s

[2015-08-16 13:20] domenic commented on #59
FWIW it seems Blink is at least somewhat interested in aligning as such; see https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/--KjSROtcMQ. However, https://code.google.com/p/chromium/issues/detail?id=517819 and in particular https://src.chromium.org/viewvc/blink?view=revision&revision=200313 is not encouraging.

[2015-08-17 06:48] mnot commented on #62
Should this be Clear-Origin-Data?

WRT Cookies - hm. Giving JS on subdomain.example.com the power to clear a HTTPOnly cookie for *.example.com is... interesting.

If that's a concern, the fix would be to say that say that these cookies (I.e., those with both HTTPOnly and Domain) can only be cleared via JS from an exactly matching origin; e.g., if I want to clear a cookie via JS that has "HTTPOnly;

[2015-08-17 21:00] mikewest commented on #62
Eh. Maybe? That seemed to rule out subdomain-spanning behaviors, though, so it's not clear to me that it's the right name for the long term.

I suppose. The risk seems low if we clear out every other cookie for *.example.com as well.

Again, cookies are nuts. Paths and domains and etc. make me crazy.

Why? What risk would that special case mitigate?

[2015-08-17 23:22] mnot commented on #62
It's a genuinely new capability; today, script on a subdomain didn't have the power to clear the "main" domain's cookies if they were HTTPOnly.

In common use today, that may not be a huge problem, given that domains like github.io are separate from github.com (and this *seems* to be a common pattern), and what's at risk is usually having to log into a site again.

That said, I'm still hesitant, b

[2015-08-17 23:23] mnot commented on #62
WRT site vs. origin -- I'm not sure "site" conveys what you want it to; it just seems to add another, imprecise term.

[2015-08-18 16:11] mikewest commented on #62
For clarity, this applies only to the JavaScript API, right? Not to the HTTP header.

As long as we have cookies that span origins, that's going to be a difficult goal to achieve. How about those origin cookies, eh? (https://tools.ietf.org/html/draft-west-origin-cookies-01)

We use "site data" in Chrome's data-removing UI: chrome://settings/clearBrowserData. *shrug* I'm open to renamings.

[2015-08-19 20:16] plinss commented on #60
Discussed 19-aug telcon, closed without comment

[2015-08-19 20:16] #60 closed

[2015-08-19 20:26] plinss commented on #67
Alex will send invites for sept f2f

[2015-08-19 20:33] slightlyoff opened #69 "Media TF discussion"
Per today's TAG meeting, there's appetite from @ddorwin to discuss issues around secure stop and key re-issuance at an upcoming call.

Leaving untagged for folks to agree to schedule, but tentatively Sept 2nd call.

/cc @plinss @torgo

[2015-08-19 20:35] plinss commented on #63
Discussed briefly 19-aug telcon, schedule for followup 19-jan-2016 f2f

[2015-08-19 21:29] plinss commented on #69
Set sept-02 milestone for planning purposes

[2015-08-20 23:51] torgo commented on #68
Looks like some of the privacy related feedback has been taken on board: https://dvcs.w3.org/hg/dap/raw-file/default/battery/Overview.html#security-and-privacy-considerations but “non-normative.”

[2015-09-03 13:23] mikewest commented on #49
This spec has changed a bit since May, and I'm gearing up to start convincing people that it's worth shipping. Would requesting a lightweight re-review be appropriate?

https://w3c.github.io/webappsec/specs/credentialmanagement/

/cc @torgo @mnot @slightlyoff

[2015-09-03 13:24] mikewest commented on #49
(Also, skimming the notes, it seems like there were some open questions y'all wanted to get back to.)

[2015-09-10 02:18] KenjiBaheux opened #70 "requestIdleCallback"
There is a lot of interest from developers on this one and from what we learned by analyzing traces, a significant chunk of poor user experience issues could be resolved if it were available. We are eager to make this available, hence the request for a tag review.

cc/ @rmcilroy

Spec: https://w3c.github.io/requestidlecallback/
- [outstanding issues](https://github.com/w3c/requestidlecallback/issu

[2015-09-10 06:32] KenjiBaheux opened #71 "CSS font-display"
https://tabatkins.github.io/specs/css-font-rendering/

 - issues: [inline](https://tabatkins.github.io/specs/css-font-rendering/#issues-index)
 - discussion: https://lists.w3.org/Archives/Public/www-style/2015Jun/0245.html

cc/ @tabatkins

[2015-09-14 16:11] slightlyoff opened #72 "Task Scheduling"
The CSS Houdini effort is looking to specify a pipeline model for execution of script in layout/raster: https://docs.google.com/document/d/1Mw6qNw8UAEfW96CXaXRVYPPZjqQS3YdK7v57wFttAhs/edit?pli=1#

This (re)raises the question about ordering for delivery of other tasks in the platform (Mutation Observer change records, `Object.observe` records, `setTimeout` callbacks, `setIdleCallback` callbacks, `

[2015-09-14 18:59] slightlyoff opened #73 "Write up the Secure Stop issue for ddorwin"
@slightlyoff and @travisleithead to draft feedback regarding architecture impact/overlap of Secure Stop vs. `<a ping>` and `sendBeacon()`

[2015-09-14 21:47] mwatson2 commented on #73
Obviously, I wasn't at your meeting and I'm not sure from the notes what is to be written up. But I just wanted to make sure it was clear that the "write-on-close" approach taken, for example, by Firefox for this issue involves writing to persistent store (e.g. disk) at the time the browser tab is closed. Unlike <a ping> and sendBeacon() there is no network interaction required and no interaction

[2015-09-15 13:49] torgo opened #74 "Unblocking the HTTPS Transitions"
Related to Brad's proposal, what we can discuss at TPAC, etc...

[2015-09-15 13:50] torgo commented on #74
Discussed to try to get Brad on the phone for next call or a future call.

[2015-09-15 13:56] torgo commented on #49
reopened discussion based on @mikewest's request at f2f in Boston.

[2015-09-15 14:04] torgo commented on #49
@travisleithead indicated that he will review and provide feedback.

[2015-09-15 14:20] torgo opened #75 "Secure / Powerful / Features / Contexts"
@mikewest has indicated at the Boston f2f that he believes the document is ready for wider review. @diracdeltas says looks good. We need to provide some more feedback as a group.

https://w3c.github.io/webappsec/specs/powerfulfeatures/

[2015-09-15 14:29] torgo commented on #75
Tag consensus is that publishing as a normative document (in webappsec) would be a good idea.

[2015-09-15 14:35] torgo commented on #42
Discussed at Boston f2f : https://pad.w3ctag.org/p/09-15-2015-minutes

[2015-09-15 14:38] torgo commented on #42
CSP Issues list here: https://github.com/w3c/webappsec/milestones/CSP%203

[2015-09-15 15:14] torgo opened #76 ""With Credentials" flag possibly inconsistent with web architecture"
Discussed at f2f in Boston: https://pad.w3ctag.org/p/09-15-2015-minutes
Suggestion we can have a discussion about this with @annevk at TPAC.

[2015-09-15 15:21] annevk commented on #76
If you could explain the issue beforehand that would help determine whether it's worth discussing.

[2015-09-15 17:48] dbaron commented on #71
That discussion was a continuation from https://lists.w3.org/Archives/Public/www-style/2015May/0315.html .

However, the draft is now 404, and the TAG can't find a replacement for it.

[2015-09-15 17:51] dbaron commented on #71
Peter found it at http://tabatkins.github.io/specs/css-font-display/

[2015-09-15 17:59] slightlyoff commented on #71
A few quick thoughts:

 * the introduction should be marked as non-normative
 * it'd be great to see an explainer for this (and have it linked from the spec)
 * there aren't meaningful examples (perhaps these could be in an explainer)
 * are the values of this property available to script? On assume so via the CSS OM, but it'd be nice to see example code.
 * how does this integrate with the CSS lo

[2015-09-15 18:00] timbl commented on #76
Explanation

The web architecture is that everything is identified by a URI.   To look up the thing, you just need the URI and then "follow your nose" (ie the specs).  But now in the fetch() spec nowadays the code has to also be provided with a withCredentials flag.  If the flag is not set, credentials are not used and presumably protected resources cannot be accessed. If the flag is set, then the

[2015-09-15 18:05] travisleithead commented on #71
I agree this is good. Can be used to improve the user experience. Seems a little concerning (from an interop perspective) to have 'auto' be user-agent defined, but user agents can change their behavior to harmonize without it impacting the spec.

[2015-09-15 18:08] dbaron commented on #71
The other thing that either @slightlyoff or @plinss mentioned was whether there should be a way to tell whether a font was used or not.  I'm not sure what such an API would look like, though.

[2015-09-15 18:09] torgo commented on #70
Taken up at Boston f2f.

[2015-09-15 18:15] tabatkins commented on #71
Happy to do so, but that's generally true.  Maybe I can just put it into the CSSWG boilerplate.

Yeah, definitely need to add some good examples.

Yes, via the CSSOM, same way all other `@font-face` descriptors are.

What's the "CSS loader API"? Do you mean <https://drafts.csswg.org/css-font-loading/>?  If so, it's kinda close to being sugar on that, but there are several specific things that aren

[2015-09-15 18:17] tabatkins commented on #71
Is this what I said above with "no way to be notified that the UA is requesting a font-face so it can render with it", or something else?

As documented in the intro table, UAs generally disagree with each other today.  `auto` is needed to explain that, so we have an initial value that reflects reality.

[2015-09-15 18:22] plinss commented on #71
The concern was getting an event when the block or swap periods end, not just when the font is done loading, or alternatively, getting information about what loading period the browser is in when loading completes. e.g. the font has just loaded, but isn't going to be used anymore because the swap period has expired.

[2015-09-15 18:24] travisleithead commented on #70
This illustrates the need for a well-defined scheduler that this, RaF, and the multitude of other 'scheduled' work should integrate into. (Promises, etc.)

[2015-09-15 18:25] torgo commented on #69
Replaced by issue 73.

[2015-09-15 18:25] #69 closed

[2015-09-15 18:27] torgo commented on #68
discussed and closed at boston f2f

[2015-09-15 18:27] #68 closed

[2015-09-15 18:35] domenic commented on #70
@travisleithead https://html.spec.whatwg.org/multipage/webappapis.html#processing-model-8 seems like at least a start.

[2015-09-15 18:39] domenic commented on #70
Sorry I meant https://html.spec.whatwg.org/multipage/webappapis.html#processing-model-9

[2015-09-15 18:48] travisleithead commented on #70
Yep, that's where we start from. :) We discussed how that section may not have the right integration/hooks for various features, which we'd like to add. It also seemed that the model need not be embedded in the HTML spec, though certainly HTML makes a lot of use of the processing model.

[2015-09-15 18:52] domenic commented on #70
So far our solution seems to be adding integration hooks at various allowed points, like animation frame tasks being exposed via requestAnimationFrame, or microtasks indirectly via promises. It seems reasonable to propose other APIs if you want, like requestResizeStep(fn), but of course doing so locks implementers more into a very specific model.

As for where it belongs, I don't think that's real

[2015-09-15 19:05] torgo commented on #67
Can we request some additional technical info on on deliverables and relationships including eg. architectural diagram? (discussed at Boston f2f)

[2015-09-15 19:06] torgo commented on #67
Mark to revise his comments to incorporate the above.

[2015-09-15 19:07] #67 closed

[2015-09-15 19:12] slightlyoff commented on #66
Are there specific areas of concern that you'd like for us to pay attention to, over and above the issues you linked to?

[2015-09-15 19:22] dbaron commented on #66
Some comments:

It seems like it should say more explicitly that it works like the 'transform' property (which I think is the intent).  For example, having 'motion-path' should have the effects that 'transform' has like creating a stacking context, being a containing block for absolute and fixed positioned elements, etc.

It also seems like the spec should have some examples with code in them.

[2015-09-15 19:24] dbaron commented on #66
Also, the "Applies to" is a little suspicious in terms of being broader than the "transformable elements" set in the CSS Transforms spec.

[2015-09-15 19:30] torgo commented on #64
Discussion at Boston f2f:
When you ask for an id you get the same id for the same device when your are in a session. In the webrtc case they want to be able to store a device identifier across sessions. Can be a fingerprinting issue if the same device id is leaked across different origins.
Each spec has taken a slightly different approach - could there be a consistent approach taken?

[2015-09-15 19:31] slightlyoff commented on #66
A few thoughts:

 * There don't appear to be any meaningful examples in the spec. Had to go dig them out of the Chromium repo (here)[https://code.google.com/p/chromium/codesearch#chromium/src/third_party/WebKit/LayoutTests/css3/motion-path/&q=motion-offset&sq=package:chromium&type=cs]. This is a pretty big issue.
 * The `transform-box` which is the root of the transformation [is spec'd](https://dr

[2015-09-15 19:34] torgo commented on #64
Is there already some best practice thinking that we could ... er... reference...

[2015-09-15 19:35] travisleithead commented on #64
Some thoughts from the minutes:
* ask for an ID and get the same device, within the bounds of a session.
* store a device ID so that the application don't have to ask for a device to be selected time and time again.
* If the hardware device id is leaked across origins, that's not good.
* Can IDs be recycled among different types of hardware?"
* what should be the available entropy in the pool?
* s

[2015-09-15 19:59] tabatkins commented on #71
I'm curious what the use-case is for knowing that a font has switched into a new period.  I definitely see use-case for knowing that a font is "dead", and being able to bring it back to life when it's loaded.

[2015-09-15 20:04] torgo commented on #62
taken up at Boston f2f

[2015-09-15 20:07] torgo commented on #62
consensus - we are happy with the direction and will raise issues individually on their repo

[2015-09-15 20:11] torgo commented on #61
Taken up at Boston f2f. Question for @tidoust - is additional feedback still sought / useful?

[2015-09-15 20:17] torgo commented on #59
Taken up at Boston f2f. New version of File URI draft [published in Late July](https://www.ietf.org/rfcdiff?url2=draft-ietf-appsawg-file-scheme-03). Does not seem to address the issues raised.

[2015-09-15 20:27] torgo commented on #59
Working on feedback https://github.com/w3ctag/wiki/wiki/fileUrl

[2015-09-15 20:32] plinss commented on #71
If the author is doing something tightly coupled to the current font being displayed, for example, poly-filling drop caps, they'll need to know when the fallback font is applied. Another use could be coordinating use of fonts between elements, e.g. headings and body text, if the body text swaps to the fallback, the author may want to change the heading font. The author may also want to be notified

[2015-09-15 20:39] torgo commented on #59
closed on the basis of that feedback - @mnot to send over to apps area wg people at ietf.

[2015-09-15 20:39] #59 closed

[2015-09-15 20:43] torgo commented on #57
Taken up at Boston f2f. Looks like issue 212 was taken on board.

[2015-09-15 20:48] torgo commented on #57
@travisleithead : @dontcallmedom still waiting on feedback on use of streams, relation of media streams to Streams cap-s. Are we happy with the media streams spec?

[2015-09-15 20:49] torgo commented on #57
@dontcallmedom can you join us on the tag telecon 10-7 possibly to close this off?

[2015-09-15 20:51] torgo commented on #56
@slightlyoff - a proposal exists to address the privacy issue.

[2015-09-15 20:54] torgo commented on #56
https://github.com/w3c/frame-timing/issues/47

[2015-09-15 20:57] torgo commented on #56
Feedback has been provided and taken on board.

[2015-09-15 20:57] #56 closed

[2015-09-15 20:58] torgo commented on #51
Discussed at Boston f2f.

[2015-09-15 21:02] torgo commented on #51
@slightlyoff to write up some feedback.

[2015-09-16 05:43] annevk commented on #76
How is this different from content negotiation, where you need to know what headers to supply to get a particular representation? And failing to supply headers might result in an error?

In any event, "follow your nose" hasn't really come up as a problem with CORS thus far. And redesigning CORS at this point does not seem feasible. We could do something additive, but that doesn't really solve the

[2015-09-16 07:11] KenjiBaheux commented on #71
Thanks for the great feedback!

Re the use cases above, I'm wondering if those are better served by the CSS font loading API.

[2015-09-16 08:37] tidoust commented on #61
Thanks for pinging me @torgo. For some reason, I had managed to miss that issue entirely, sorry about that and many thanks for the timely review!

So first, I'll point the Second Screen WG to it. We'll get back to you if needed as we process that feedback.

[2015-09-16 08:59] dontcallmedom commented on #57
is it at 8pm UTC on Oct 7? I can probably make it, yes

[2015-09-16 09:48] annevk commented on #76
That does not defeat the same-origin policy actually. A proxy server is perfectly acceptable. I recommend reading https://annevankesteren.nl/2015/02/same-origin-policy if you want to know what the same-origin policy protects against. The only problem with a proxy server is that it creates an additional request. That is why we have CORS.

[2015-09-16 13:14] plinss commented on #71
Agreed, the font loading API is the proper place for those features, we just wanted to be sure that it accounted for the new capabilities.

[2015-09-16 13:29] travisleithead commented on #42
@mnot prepare thoughts around improving release speed and/or modularity of CSP3 for a TPAC discussion.

[2015-09-16 13:34] torgo commented on #22
Taken up at Boston f2f. @travisleithead will review the actual API https://w3c.github.io/web-nfc/ and report back with a draft appraisal and will present back to TAG on 7-oct.

[2015-09-16 13:36] torgo commented on #38
Discussed in Boston.

[2015-09-16 13:37] torgo commented on #38
@mnot is happy with the revised version. @slightlyoff needs to feed back as well.

[2015-09-16 13:52] torgo opened #77 "Security Questionnaire"
We need to complete and publish the security questionnaire as a note.

https://github.com/w3ctag/security-questionnaire/issues/6

[2015-09-16 13:57] torgo opened #78 "Create a "advice for spec authors" page"
Do we need a special "advice for spec authors" page that calls out current best practice for spec authors (e.g. the security and privacy checklist, promises guide, etc...)?

[2015-09-16 14:06] domenic commented on #78
https://w3ctag.github.io/design-principles/ could morph into this or we could leave that more narrowly focused on API surface and link to it from this

[2015-09-16 14:06] slightlyoff commented on #38
I have some concerns:

 * the recent [TAG Finding on Unsactioned Tracking](http://www.w3.org/2001/tag/doc/unsanctioned-tracking/) appears to be more actionable regarding how we might guide spec/feature designers in specific areas like storage mechanisms
 * Best Practice #1 in this document seems to guide in an ambiguous way. What's "unnecessary"? Who decides?
 * Best Practice #3 and #6 seems like

[2015-09-16 18:41] torgo commented on #14
Picked up at Boston f2f.

[2015-09-16 18:44] torgo commented on #14
https://wiki.mozilla.org/Media/WebRTC/Privacy

[2015-09-16 18:44] torgo commented on #14
http://www.w3.org/2015/09/09-webrtc-minutes.html#item06

[2015-09-16 18:46] torgo commented on #14
https://www.w3.org/2011/04/webrtc/wiki/images/d/da/WebRTC_IP_Address_Privacy.pdf

[2015-09-16 18:46] torgo commented on #14
@mnot to provide a summary on the next call.

[2015-09-16 19:06] torgo commented on #18
Picked up in Boston.

[2015-09-16 19:09] torgo commented on #18
@slightlyoff : "strange that it's not possible to query the navigation timing api with reference to a resource."

[2015-09-16 19:10] dbaron commented on #18
Editor's draft is now at https://w3c.github.io/navigation-timing/

[2015-09-16 19:12] torgo commented on #18
@slightlyoff to write up some comments in advance of a joint discussion. We could discuss with @igrigorik at TPAC or beforehand if it can be arranged.

[2015-09-16 19:20] travisleithead opened #79 "General review of Shadow DOM 2015 updates"
Now with ```slots```! Given the changes and beginnings of implementation in Safari and updates in Chrome, it's a great time for an update.

[2015-09-16 19:41] mnot opened #80 "HTTP Opportunistic Security"
https://github.com/httpwg/http-extensions#http-opportunistic-security

Discussed in Boston; @mnot to follow up, try to coordinate discussion with IETF, browser security folk.

[2015-09-18 08:07] torgo commented on #78
I think the design principles doc would be top of the list on this page but I see the page as more of a list of links - some of which might be to TAG or other w3c docs and some of which might be to other best practice stuff...

[2015-09-18 18:15] paulboyes opened #81 "Automotive Working Group - API Refactor or Not?"
The Automotive Working Group has an ongoing discussion regarding a potential refactor of [Vehicle Information Access API](http://rawgit.com/w3c/automotive/master/vehicle_data/vehicle_spec.html) and [Vehicle Data Spec](http://rawgit.com/w3c/automotive/master/vehicle_data/data_spec.html) and would greatly appreciate a review/weighing in of the [issue](https://github.com/w3c/automotive/issues/37) by

[2015-09-18 21:57] dbaron commented on #81
Does @domenic's API design document say something about things like this?

[2015-09-18 22:02] paulboyes commented on #81
@dbaron Where can one find @domenic's API design doc?

[2015-09-21 07:14] peterMelco commented on #81
Is there a definition of a "magic string" ? I think that using strings as parameters to select certain data and return that is not magic in any sense ?

[2015-09-21 19:07] paulboyes commented on #81
@peterMelco "magic string" means something like "data is simply a String, the name of the data point like 'vehicleSpeed' "  This would be like a string/key instead of a predefined member.

@tripzero right Kevron?

[2015-09-21 20:12] tripzero commented on #81
Right.  "Magic strings" refers to attributes referenced by a string instead
of by a concrete object: vehicle.speed vs vehicle.get("speed")

On Mon, Sep 21, 2015 at 12:08 PM, Paul J. Boyes <notifications@github.com>
wrote:

[2015-09-23 07:01] mikewest commented on #42
I am curious about these ideas, and would like to hear more. :)

[2015-09-23 20:39] plinss commented on #14
Discussed 2015-09-23 telcon follow up at TPAC

[2015-09-23 20:46] plinss opened #82 "Feedback on Keygen"
Discuss Travis's draft response
https://github.com/w3ctag/meetings/wiki/DRAFT-response-on-keygen-for-TAG-consideration

[2015-09-23 20:47] plinss opened #83 "Performance API review"
Alex to invite Ilya, Travis to invite Todd for 2015-09-30 telcon

[2015-09-24 22:55] inexorabletash opened #84 "Indexed DB getAll(), openKeyCursor() and objectStoreNames"
There are a handful of new methods/attributes in the Indexed DB "Second Edition" with implementations in both FF and Chrome that we'd like feedback on. These are additions of new methods to existing interface objects in the API, and do not change the behavior of any existing methods. All can be feature detected.

[IDBObjectStore.getAll()](https://w3c.github.io/IndexedDB/#dom-idbobjectstore-getall)

[2015-09-24 23:40] davidsgrogan opened #85 "Storage persistence"
Could someone review two methods from the [storage API](https://storage.spec.whatwg.org/) that chrome would like to ship? That is:
`navigator.storage.requestPersistent()`
`navigator.storage.persistentPermission()`

/cc @annevk

[2015-09-25 02:06] mnot commented on #42
@mikewest - People are just noticing that the monolithic nature of CSP releases is in some ways hurting adoption; people (wrongly or rightly) feel they need to implement the entire version, and users feel they have to understand the entire new spec before using it.

Getting new features onto a release train can be frustrating too (e.g., `cookie-scope`)

Also, giving a new major version number to i

[2015-09-25 02:10] mnot commented on #42
@mikewest - another CSP issue worth talking about again is the delivery mechanism. When I look at sites like Twitter, who have really long CSP headers:
  https://redbot.org/?uri=https%3A%2F%2Ftwitter.com%2Fmnot&req_hdr=User-Agent%3AMozilla%2F5.0+%28X11%3B+U%3B+Linux+x86_64%3B+en-US%29+Gecko+Firefox%2F3.0.8

... it makes me think we can do better (especially considering that this will consume most

[2015-09-25 16:01] mikewest commented on #42
@mnot, @travisleithead, @hillbrad: I've been thinking about a modular CSP myself, actually. I do think it's a good idea ("CSP Core" + smaller specs), though I'm not entirely sure where the lines are. For instance, I started on https://w3c.github.io/webappsec/specs/csp-cookies/ this afternoon to chat about (and because it's ~2 years late). Is that enough to stand on its own? I don't know. UPGRADE w

[2015-09-25 16:50] travisleithead commented on #42
I took a quick look at https://w3c.github.io/webappsec/specs/csp-cookies/ and while it is small, I am drawn to smaller, easier-to-digest documents. So IMO, this smaller-spec works well.

The risk, as you note, is finding the right place to draw the lines that decreases the interdependencies between the docs. I'd have to spend more time understanding the larger CSP doc to have an intuition on wheth

[2015-09-25 19:34] igrigorik opened #86 "Network Information API"
- http://w3c.github.io/netinfo/
- http://caniuse.com/#feat=netinfo

[2015-09-28 01:31] mnot commented on #42
+1 here as well -- seems like an encouraging direction, but like travis says, will require some careful oversight.

[2015-09-28 01:35] mnot commented on #74
Link: http://webappsec-test.info/~bhill2/DifferentTakeOnOE.html

[2015-09-28 05:48] mikewest commented on #42
Oversight... oversight... If only I could find some group that concerns itself with architectural technologisms to provide some adult supervision while we work through that discussion. :)

[2015-09-28 05:51] mnot commented on #42
I meant oversight by people who actually know about CSP :)

[2015-09-28 05:56] mnot commented on #42
@mikewest - I don't see how CSP Pinning helps, because a server doesn't know when it's safe to omit CSP headers for any give request.

Anyway, I owe you a straw-man proposal, I think...

[2015-09-29 01:29] mnot commented on #78
I've started keeping state at:
  https://github.com/w3ctag/wiki/wiki/TAG-Guidance-for-Spec-Authors

Please add links, etc. and then we'll fill out some prose around them.

[2015-09-30 05:14] mnot commented on #74
Next logical step seems to be to write a spec -- i.e.,

* Explainer (cribbed from Brad's doc)
* ALPN token
* patch to upgrade-insecure-requests
* patch to MIX
* others?

However, Brad has indicated he doesn't have much time to work on it in the near future.

[2015-09-30 20:34] travisleithead commented on #82
Plan:

1. cleanup the doc
2. incorporate feedback
3. create a new repo for this doc and move it there (to consolidate issues)
4. ensure Tim is aware of the feedback
5. post to www-tag

[2015-10-05 23:09] inexorabletash opened #87 "Review FormData additions in XHR"
The FormData interface grew some additional methods beyond the historical `append`, which allow the keys/values to be inspected, modified, and so forth:

https://xhr.spec.whatwg.org/#interface-formdata

These have shipped (apart from the iterator?) in Firefox. We have them implemented behind an experimental flag in Chrome and are looking for any feedback from the TAG before we ship.

[2015-10-06 08:43] mikewest commented on #87
While you're looking at `FormData` in general, you might as well also peek at the "opaque" `FormData` additions in CREDENTIAL: https://w3c.github.io/webappsec-credential-management/#opaque-formdata :)

[2015-10-06 08:43] mikewest commented on #87
(Which are also implemented behind an experimental flag in Chrome for that API)

[2015-10-06 16:47] domenic commented on #87
I raised https://github.com/whatwg/xhr/issues/27

[2015-10-15 21:30] inexorabletash opened #88 "Feedback on DOMError -> DOMException in Indexed DB"
Based on the general guidance "[DOMError is dead](https://dom.spec.whatwg.org/#domerror), use DOMException instead", in the [Indexed DB "Second Edition"](https://w3c.github.io/IndexedDB/) we've basically done a `s/DOMError/DOMException/g` find/replace. This should not impact most scripts, since the attributes present on DOMError (`name`, `message`) are present in DOMException. The only impact woul

[2015-10-15 21:34] domenic commented on #88
This goes back to some long-ago discussions... It was never a good idea to have two separate error types in the platform. There's no reason to create two types just so that you can use them in different circumstances.

[2015-10-16 10:31] foolip commented on #88
I was the one (or at least one of those) who hesitated because this is the first case I know where `DOMException` is used as an attribute. I've now gotten used to the idea and think that if we can successfully remove `DOMError` (uncertain) then it'll be fine to use `DOMException` for things that aren't actually thrown.

[2015-10-21 19:58] travisleithead commented on #79
* open/closed mode of ```attachShadow```
* ```<slot name="">``` and ```<insert-me slot="...">``` vs. ```<content select="selector">```
* removal of ```<shadow>``` element; removal of multiple shadows-per-element
* Events have a ```deepPath```, which accounts for open/close modes.
* Distribution API was dropped due to hard timing concerns--now up to the UA to do appropriately. Slot approach can mak

[2015-10-21 20:49] travisleithead commented on #79
Discussed in minutes from 21-Oct 2015! Closing issue.

[2015-10-21 20:49] #79 closed

[2015-10-23 03:10] dbaron commented on #70
Re the discussion about defining the event loop:  there was some discussion in the Houdini task force meeting in Paris in August to write a specification that would define it better.  Minutes are at http://www.w3.org/mid/CADhPm3tC1CT=gBVqoq5TSfPXpnJoPPnxSrc7hEcYCr-X0Oi0Ow@mail.gmail.com although the summary at the top is not a particularly good summary of the key points from my perspective; better

[2015-10-23 03:27] dbaron commented on #70
On Friday 2015-10-23 12:09 +0900, L. David Baron wrote:

Perhaps a slightly better concrete example for this concern: suppose that an implementation wants some work that doesn't block the main thread's event loop to still make things count as "not idle", so that the idle callback work doesn't detract from that work happening on other threads.  One could interpret the first paragraph of the process

[2015-10-23 03:30] dbaron commented on #70
On Friday 2015-10-23 12:09 +0900, L. David Baron wrote:

On the flip side, there are also downsides to some of the other constraints:  for example, they don't allow implementations all that much leeway to prioritize a visible tab over a hidden tab (presuming they share an event loop) within a single idle period, beyond allowing the visible tab to have its first idle callback executed before the hi

[2015-10-23 03:58] dbaron commented on #70
Let me re-paste that "Further review of the spec" from two comments back, now that I realize that github doesn't accept markdown in email input but only in the Web UI.  Note that the previous two comments are in reply to this one:

#### Larger issues

I have two larger issues to raise (although I admit the first is somewhat vague):

1. Does the spec's notion of "idle" scale well to a more multi-co

[2015-10-26 02:05] torgo opened #89 "Geofencing FPWD"
https://w3c.github.io/geofencing-api/

[2015-10-26 02:06] torgo commented on #89
Built on service worker ++

[2015-10-26 06:32] torgo opened #90 "Bluetooth API Security Model"
Some question came up in the Bluetooth API discussion at - given that a pairing permission is granted by the user on an origin basis (device to origin) should this be allowed when the request is made from an iFrame or only when the origin is visible to the user? Example: I grant skype.com to have access to my bluetooth speaker but then if I'm on Outlook.com and Outlook.com embeds a Skype.com ifram

[2015-10-26 07:24] torgo commented on #90
/cc @jyasskin

[2015-10-26 07:28] torgo commented on #90
Separate question potentially around physical web security model. Suggested use case: a physical web device advertises a URL and you select that URL and the web page can then use the bluetooth API to connect to that device.

[2015-10-26 08:09] torgo commented on #22
Discussing [our feedback](https://github.com/w3ctag/spec-reviews/blob/master/2015/10/nfc-feedback.md) at TPAC WebBluetooth discussion.

[2015-10-28 16:49] rmcilroy commented on #70
Replying inline to @dbaron's comments

I don't think making things multi-core changes the concept of idle tasks - browsers will (rightly) continue to move more work off the main thread, however there is likely to remain a decent proportion of work which needs to happen on the main thread for legacy reasons. The diagrams (e.g., section 2) are purely for illustration and aren't meant to constrain wh

[2015-10-28 23:23] travisleithead commented on #61
Review with the SSWG scheduled for TPAC week on Thursday.

[2015-10-29 08:25] mwatson2 commented on #73
I heard the requirement described as needing to "write to disk after shutdown" and so I thought I should offer a small clarification.

Executing anything "after shutdown" is non-sensical, since by definition shutdown is complete at the point that execution stops. So nothing can be executed after that.

The particular implementation approach on which concerns have been raised is one in which the Us

[2015-10-29 15:04] foolip opened #91 "Audio Output Devices API"
https://w3c.github.io/mediacapture-output/

There is an [Intent to Ship](https://groups.google.com/a/chromium.org/d/msg/blink-dev/ELz4SxMwa0U/CWsWMGjfCwAJ) this API on blink-dev, so if possible please prioritize this review.

[2015-10-29 21:10] ddorwin commented on #73
The term I settled on was “write-on-application-close”.

More specifically, the requirement is that the web platform ensure that a write occurs during or sometime after the `MediaKeys` object is destroyed. That may very well occur during the algorithm to [unload a document](http://dev.w3.org/html5/spec-LC/history.html#unload-a-document), though it isn’t immediately clear to me where. I also wonder

[2015-10-30 00:29] mwatson2 commented on #73
Maybe splitting hairs, but rather than "after the `MediaKeys` object is destroyed" it should be "after all keys **known** to a `MediaKeySession` have been destroyed". CDMs could (and probably will) remove the keys before or at the same time as the `MediaKeySession` object and it's parent `MediaKeys` object are destroyed.

Since this is one implementation of a CDM-specific function, we won't need t

[2015-10-30 06:14] travisleithead commented on #61
Review went well today. The Second Screen WG had some followup from the discussion that I would like to bring back to the TAG:
* The SSWG would like to reference the TAG's [Private Mode](http://w3ctag.github.io/private-mode/)
spec under the expectation that Private Mode would define how to start up a browsing context in a "clean state" (e.g., empty database, local storage, cookies, etc.). If the d

[2015-10-30 06:49] travisleithead commented on #57
I think we discussed this already and had no further comments, but forgot to close this. I'm closing it now--if I'm in error, please re-open.

[2015-10-30 06:49] #57 closed

[2015-10-30 06:49] torgo opened #92 "Streams General issue"
As minuted at TPAC 2015 wrap-up session: https://pad.w3ctag.org/p/30-10-2015-minutes.md

[2015-10-30 06:53] travisleithead commented on #22
With the review complete, and (of course) leaving the door open for addition issues and followup, unless you object @anssiko, I'd like to close this review issue.

[2015-10-30 07:06] travisleithead opened #93 "Review Web Annotations specs"
@slightlyoff: We'd be happy to dig in and understand these specs. Perhaps we could chat in an upcoming TAG call to get better acquainted?

[2015-10-30 12:18] anssiko commented on #22
Thank you for the review @travisleithead, please close this issue.

[2015-10-30 13:20] travisleithead commented on #22
Super!

[2015-10-30 13:20] #22 closed

[2015-10-30 20:16] ddorwin commented on #73
Yes, destruction of the `MediaKeySession` is a better way to represent it from the specification point of view. (I was thinking a little too much about implementation.)

If the observable behavior you want is for the last time to be written, then you do need to describe that behavior in the specification.

[2015-10-30 20:21] ddorwin commented on #73
I just noticed that [1] points to a very old version of the spec. It should be http://www.w3.org/TR/html5/browsers.html#unloading-documents. I've also updated the link in my comment above. @mwatson2, you might want to do the same.

[2015-11-05 13:50] johnmellor opened #94 "Notifications API"
https://notifications.spec.whatwg.org

Shipping in various stages in different browsers:
- Chrome ships most of the spec, except some newer features like action buttons (there is an [Intent to Ship](https://groups.google.com/a/chromium.org/d/topic/blink-dev/8iSlPpwokbY/discussion) for those).
- Firefox ships most of the spec except the [Service Worker API](https://notifications.spec.whatwg.org/#se

[2015-11-09 14:18] slightlyoff commented on #18
Per the TPAC discussion, I need to update the draft review to also discuss the Performance Observer API designs that are coming down the pike.

[2015-11-09 20:35] torgo commented on #82
Hi Travis any update on this? Shall we put it on the agenda for this week?

[2015-11-09 20:55] travisleithead commented on #82
I did not, unfortunately, get to this prior to TPAC as I had hoped to do. I’ve been planning to return to it all last week, and again, it got postponed due to a variety of internal activities. I’ve got some time scheduled tomorrow and later today to work on it, but don’t expect to have anything substantive ready to discuss at our call. In the best case, I can point to an updated draft of what I pl

[2015-11-11 20:37] torgo commented on #94
Discussed on call 11-November - assigned to 25th of November

[2015-11-11 20:38] torgo commented on #93
taken up 11-11

[2015-11-11 20:42] torgo commented on #92
discussed 11-11 – we need to get someone like @domenic and Chris Wilson on the same call... F2F time would be good. Analysis document needed. "Streams in the Web" ...

[2015-11-11 20:43] torgo commented on #91
taken up 11-11 on f2f

[2015-11-11 20:45] torgo commented on #91
Alex: We need @travisleithead on this...

[2015-11-11 20:45] torgo commented on #91
@slightlyoff to write up thoughts here and hopefully we can come up with some conclusions quickly

[2015-11-11 20:48] torgo commented on #90
Taken up 11-11 telcon
@slightlyoff : Patterns they can look at security "options for iframes"...  CSP directives - usage indicators which could be recommended (per UA decision).

[2015-11-11 20:48] torgo commented on #90
@slightlyoff: could we highlight some useful patterns?

[2015-11-11 20:50] torgo commented on #89
taken up 11-11

[2015-11-11 20:58] torgo commented on #89
Agreed to schedule time at the next f2f.

[2015-11-11 21:02] torgo commented on #82
taken up 11-11. @travisleithead incorporating some feedback Hope to have out by end of week.

[2015-11-11 21:07] torgo commented on #89
/cc @mkruisselbrink @gmandyam

[2015-11-11 21:08] slightlyoff commented on #90
I think there's a couple of things we can contribute. At a first pass, it seems out of scope to make a hard-and-fast decision about _if_ this should be enabled for sub-documents, but perhaps _how_ this can be enabled. Options include the `sandbox` attribute for iframes: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe

Adding an option and denying by default might be reasonable. An

[2015-11-12 18:30] foolip commented on #91
If you feel like you have the domain expertise, it would be nice to hear some thoughts about the potential for different shapes of the API for `HTMLMediaElement` and the Web Audio API, which I asked some questions about on blink-dev:
https://groups.google.com/a/chromium.org/d/msg/blink-dev/ELz4SxMwa0U/CWsWMGjfCwAJ

The situation we find ourselves in is that we don't have the primitives that underl

[2015-11-16 02:09] mnot commented on #93
Some initial notes:

* This specification is effectively profiling HTTP by using language like "The server must support the following HTTP methods on the Annotation Container's URI." It should just describe the representations and interaction expectations upon resources that use them.
* Likewise, it's very MUST/SHOULD heavy; when specs overuse the RFC2119 terms, it doesn't help readability or inte

[2015-11-24 01:33] mkruisselbrink opened #95 "Web Background Sync API"
https://wicg.github.io/BackgroundSync/spec/

Implemented in chrome behind a flag (https://www.chromestatus.com/features/6170807885627392), proposed in the WICG at https://discourse.wicg.io/t/proposal-for-a-web-background-sync-api/1118

[2015-11-25 20:29] torgo commented on #93
Picked up in teleconf 25-November-2015: https://github.com/w3ctag/meetings/blob/gh-pages/2015/telcons/11-25-agenda.md

[2015-11-25 20:41] torgo commented on #77
Picked up telcon 25-November-2015

[2015-11-30 20:17] travisleithead commented on #49
Given FIDO's recent submission to W3C, I need to revisit this. May need to wait a few weeks though...

[2015-11-30 20:32] domenic opened #96 "Promise rejection tracking events"
Not sure the TAG feels this is in their wheelhouse, but if they do: https://html.spec.whatwg.org/multipage/webappapis.html#unhandled-promise-rejections

[2015-11-30 22:23] travisleithead commented on #82
Document is up: https://w3ctag.github.io/client-certificates/
Mail has been sent: http://lists.w3.org/Archives/Public/www-tag/2015Nov/0000.html

[2015-12-01 11:15] mikewest commented on #49
http://www.w3.org/Submission/2015/SUBM-fido-web-api-20151120/ is the submission, for clarity.

Happy to chat if it would help you get context from my side. I talked with Vijay and Israel about earlier versions of the FIDO API that coincided a bit more clearly with the credentials API. I'm not sure what happened that pulled the draft they submitted away from that model. Getting them to line up a li

[2015-12-02 20:10] #82 closed

[2015-12-02 20:15] travisleithead opened #97 "Review Web Authentication spec"
- http://www.w3.org/Submission/2015/SUBM-fido-web-api-20151120/

[2015-12-02 20:17] plinss commented on #97
Version 1.0 here: https://fidoalliance.org/specifications/download/

[2015-12-02 20:21] dbaron commented on #97
There are also 3 FIDO specs in [the submission](http://www.w3.org/Submission/2015/02/):

[FIDO 2.0 Web API](https://www.w3.org/Submission/2015/SUBM-fido-web-api-20151120/)
[FIDO 2.0 Key Attestation Format](https://www.w3.org/Submission/2015/SUBM-fido-key-attestation-20151120/)
[FIDO 2.0 Signature Format](https://www.w3.org/Submission/2015/SUBM-fido-signature-format-20151120/)

My understanding is

[2015-12-02 20:32] travisleithead commented on #61
Discussed at 2 Dec 2015 telecon: raw minutes: https://pad.w3ctag.org/p/02-12-2015-minutes.md

[2015-12-04 15:33] mikewest commented on #42
Hello, lovely TAGians. https://w3c.github.io/webappsec-csp/ is far enough along that I'd appreciate some feeback from y'all about the integration points between CSP, HTML, and Fetch, as well as the hooks I've built in for extensibility. Happy to chat with anyone who's interested, on a call or via email/GitHub/whatever. :)

[2015-12-07 21:53] torgo commented on #96
@slightlyoff maybe you can comment and we could discuss on Wednesday?

[2015-12-07 22:02] torgo commented on #42
Thanks, @mikewest. I've put it on the agenda for [this week's call](https://github.com/w3ctag/meetings/blob/gh-pages/2015/telcons/12-09-agenda.md) and hopefully we can get you some useful feedback soon.

[2015-12-09 09:59] alvestrand commented on #91
Hope to hear from you next week, then?
We're code complete on the implementation, TAG review is one of the things that people have asked for before we ship the feature.

[2015-12-09 14:36] beverloo opened #98 "W3C Push API - data payloads"
The W3C Push API has been updated by @martinthomson to allow developers to include a payload with the push messages they send. Such a payload must be encrypted, because the push service effectively is an untrusted intermediary.

The W3C bits are defined in https://w3c.github.io/push-api/
[code]

The client-side JavaScript will normally not be exposed to the encryption requirement - this is done by

[2015-12-15 22:35] travisleithead commented on #91
I've looked this over today.

## Audio Output Devices API
Reviewed: https://w3c.github.io/mediacapture-output/ (25 November 2015)

**My takeaway**: The design and concepts are simple and integrate well with other Web RTC concepts (e.g., the `enumerateDevices()` API). While I don't really like the name (`sinkId`; more below), otherwise, the integration points are fine. I note (as also noted above),

[2015-12-15 22:38] travisleithead commented on #49
I'm going to need more time to think about how this relates to FIDO (and to review it on its own merit). I'm currently still brushing up on FIDO for our Melbourne F2F. Should be in a better position to look at this after that meeting.

[2015-12-16 15:34] alvestrand commented on #91
The sink-ID seems to work OK in practice, given that there isn't yet a model I know of where a page can choose which screen to display an element of.

I'm not sure what the writer of the NOTE for the headset issue intended to say, so can't answer that.
I think the right answer for the other question is that if the underlying system doesn't support "id-communications", it should default to the defa

[2015-12-16 20:13] dbaron commented on #98
Are there any issues you (for any "you" on the issue) are aware of that you think are particularly interesting for the TAG to look into, or that raise any architectural or cross-specification issues?

[2015-12-16 20:21] torgo commented on #91
Discussed at TAG teleconf 16 December 2015: https://github.com/w3ctag/meetings/blob/gh-pages/2015/telcons/12-16-agenda.md

[2015-12-16 20:26] travisleithead commented on #91
@alvestrand, additionally, the spec does not appear to hook into the Permission API (should file an issue to add a permission enum into that spec). That way it can keep track of permissions related to audio output.

[2015-12-16 20:28] torgo commented on #91
Agreed to close on teleconf 16-dec. Will re-open if further requests come in.

[2015-12-16 20:28] #91 closed

[2015-12-16 20:32] slightlyoff commented on #91
As an aside, it's be great to see example code for this API somewhere so that folks can get a sense for how it hangs together with the rest of the system. The attribute/promise split for getter/setter might make a ton of sense, but it's hard to see. Same for the pre-defined devices list.

[2015-12-16 20:33] dbaron commented on #95
Are there any issues you (for all "you", really) are aware of that you think are particularly interesting for the TAG to look into, or that raise any architectural or cross-specification issues?

[2015-12-16 20:41] travisleithead commented on #96
[Lightly] discussed on 12/16/2015 telecom. Raw notes: https://pad.w3ctag.org/p/16-12-2015-minutes.md

[2015-12-16 20:45] torgo commented on #96
Taken up at teleconference 16-Dec-2015: https://github.com/w3ctag/meetings/blob/gh-pages/2015/telcons/12-16-agenda.md

[2015-12-16 20:49] torgo commented on #96
@slightlyoff to write up something and attach to this issue with further description.

[2015-12-16 20:54] torgo commented on #96
Agreed to close pending Alex's comments.

[2015-12-16 21:02] slightlyoff commented on #96
This event seems useful and, per discussion, has our support. @domenic informs me that the other proposal was to extend `onerror`'s event with an additional (occasionally set) value and it seems like this is a fine middle ground.

The IDL looks good and it's great to see it exposed on both windows and workers. Is the specified weak set of unhandled promise rejections exposed to script anywhere? If

[2015-12-16 21:02] #96 closed

[2015-12-16 21:11] domenic commented on #96
The weak set is a tracking mechanism for what rejectionhandled events have been fired, basically, so that later rejectionhandled events can correspond to them. So the contents are exposed to script, somewhat indirectly. Does that help?

This was modeled after synchronous errors and the error event, which say:

I think I meant to consistify both of these to say "developer console" per https://githu

[2015-12-16 21:17] dbaron commented on #96
One thing I was curious about (and seems to require digging a bit into the ECMA-262) is whether the promise attribute on the event is the last promise in the chain or the promise where the rejection happened (or was last handled).  (Is there then a mechanism for developers to inspect that chain to understand what happened?)

Re "developer console" wording; I think there is some value in consistenc

[2015-12-16 21:48] domenic commented on #96
Good question. It's the last promise in the chain, since previous promises in the chain are marked as handled the moment they get chained off of.

[2015-12-16 21:50] domenic commented on #96
Sorry, I missed

There is no telemetry-friendly method; you kind of have to hope your error was created with enough information, either in its `.stack` or its `.message`. Browser dev tools though certainly can track asynchronous call stacks and promise chains for this sort of thing.

[2015-12-17 03:18] martinthomson commented on #98
I don't think that extra data is particularly special here.  The single bit that arrives when you don't have data payloads on the message already exposed all the big questions.  This is merely an optimization on what we already have.

[2015-12-17 10:59] alvestrand commented on #91
WebRTC / permissions API interaction is currently the subject of another ongoing discussion, so I think we are aligned here.

Example code can be found here: https://webrtc.github.io/samples/src/content/devices/multi/

[2015-12-24 12:41] jorabin opened #99 "HTTP 451 Status"
Recent approval of the HTTP Status code 451 [1] has led to (wide) discussion of its purpose of indicating censorship (e.g. [2]). A Twitter exchange between myself and @mnot clarifies that it's intended also for copyright purposes such as DMCA. Following an email exchange between myself and @torgo, he requests that I raise this for TAG consideration:

As well as being intended to indicate censorshi

[2016-01-06 20:27] travisleithead commented on #88
Discussed in TAG teleconference 6 Jan 2016. TAG doesn't see any issues with using DOMException in this way. We didn't have @slightlyoff on the call, so we'd like him to have a chance to weigh-in as well before closing. Alex, any concerns?

[2016-01-06 20:34] mnot commented on #99
Discussed on the 7 January 2016 call. This status code is still new, and we expect that the community might develop best practices and possibly even related HTTP extensions (e.g., headers) over time.

We'd encourage you to engage with that community if you have questions about its use; a good starting point would be the HTTP Working Group. https://httpwg.github.io/

[2016-01-07 02:16] mkruisselbrink commented on #95
Sorry for the slow reply. I'm not sure if there is anything specific here. The privacy considerations in the spec are maybe something that applies more generally to other specs as well (in particular things like sendBeacon and some of the CSP related reporting specs, which all do some kind of background network activity to websites for which all windows have been closed already).
Maybe @jkarlin ha

[2016-01-07 12:20] jkarlin commented on #95
I don't know of any particular issues.

[2016-01-12 23:22] triblondon commented on #14
Demo of local IP address discovery: https://diafygi.github.io/webrtc-ips/

[2016-01-12 23:26] triblondon commented on #14
Potential positive use cases include stuff like https://www.sharedrop.io/

[2016-01-12 23:29] torgo commented on #14
Discussed at Melbourne f2f: https://github.com/w3ctag/meetings/blob/gh-pages/2016/01-mel/agenda.md

[2016-01-12 23:30] mnot commented on #14
Will continue to revisit this issue and get updates from WebRTC to assess potential privacy impact.

[2016-01-12 23:35] mnot commented on #38
IG note published in November:
  https://www.w3.org/TR/2015/NOTE-fingerprinting-guidance-20151124/

This feedback doesn't appear to have been addressed.

[2016-01-12 23:38] travisleithead commented on #18
Need to check-in with current status of Performance Observer spec and implementation progress. Should revisit at next TAG f2f meeting.

[2016-01-12 23:40] dbaron commented on #38
/cc @npdoty (esp. regarding previous comment)

[2016-01-12 23:50] slightlyoff commented on #38
Hey all (/me waves at @npdoty):

It looks like the Draft NOTE doesn't include changes based on the comments we left in Sept. Eager to have a conversation about those and come to some consensus.

Perhaps we can schedule some time on an upcoming call to discuss?

/cc @torgo and @plinss re: scheduling

[2016-01-12 23:52] plinss commented on #38
@torgo to contact @npdoty to schedule a call

[2016-01-12 23:52] torgo commented on #38
Have done & will schedule for a future call.

[2016-01-12 23:55] mnot commented on #42
Discussed briefly at Melbourne; will still review.

[2016-01-13 00:00] slightlyoff commented on #49
I guess what I'd love to see is a sketch of example code that uses Credential Management with FIDO to accomplish something useful. Seems like it's not premature now that we have a FIDO submission.

[2016-01-13 00:47] ylafon commented on #77
Was published on dec 10th.

[2016-01-13 00:52] mnot commented on #77
Discussed at Melbourne F2F; @mnot to drive (following up with mike west)

[2016-01-13 01:30] travisleithead opened #100 "Create a document to explain web platform async timing entry-points"
As discussed at Melbourne F2F, there are a lot of ways in the platform to schedule stuff, and lots of APIs that do it.

We would like to create a document that collates all of these timing entry-points, describes where the timings should happen in relation to other implementation details (layout, painting), and applies fixes for known issues (as noted by @dbaron) with HTML5 task queue description.

[2016-01-13 02:58] dbaron commented on #100
https://lists.w3.org/Archives/Public/public-houdini/2015Oct/0017.html was the discussion we had in Paris at the Houdini meeting in august, which covers mostly improvements to the rendering part.

This is related to, but somewhat distinct, from the idea of having all of these different task queues (setTimeout, microtask, nanotask, setImmediate, setIdleCallback, etc.) and perhaps the need for a bett

[2016-01-13 03:23] domenic commented on #100
I'm a little unclear on the scope here. Maybe the minutes would make it clearer?

This sounds like it would be best done not as a separate document but as a pull request to modify https://html.spec.whatwg.org/#processing-model-8.

This might be a worthwhile guidance document explaining when and how specs should use HTML's algorithms to perform their work.

There are actually some discussions on th

[2016-01-13 03:29] mnot opened #101 "Privacy Mode"
@mnot to revise document in time for London F2F.

[2016-01-13 03:30] dbaron commented on #100
Yeah, I agree this probably doesn't belong in a TAG document, although the plan in the Houdini group was to write a separate rendering pipeline document, and presumably then make a pull request to change a few of the list items in the HTML spec's event loop description to refer to an entirely separate (and probably substantially larger) spec.

[2016-01-13 03:38] domenic commented on #100
That makes a lot of sense to me; I agree that HTML's "update the rendering" (step 7) would largely best be handled by the CSSWG.

[2016-01-13 03:50] slightlyoff commented on #51
We didn't get to a formal review doc on this, but provided feedback in comment here: https://github.com/w3ctag/spec-reviews/issues/51#issuecomment-98203476

Implementers converged on this behavior and the open item about setting `.scrollingElement` seems like something for the Houdini and CSS folks to wrestle with another day.

Closing, given that events converged on the TAG's preferred outcome.

[2016-01-13 03:50] #51 closed

[2016-01-13 03:55] travisleithead commented on #61
Write up our comments from the above-mentioned telecom, and deliver :)

[2016-01-13 04:00] travisleithead commented on #63
We have decided to repurpose this issue from generating/sketching out ideas for new accessibility solutions to simply reviewing the proposal in this space, which currently is WAPA: https://github.com/cyns/wapa

Changing the name of the issue.

[2016-01-13 04:17] dbaron commented on #64
Discussed this a bit at the Melbourne face-to-face (afternoon of Wednesday January 13).  Seems like there's a desire to have a document describing these principles, and Travis will work on drafting that.

[2016-01-13 05:10] dbaron commented on #70
#100 is perhaps a bit related here

[2016-01-13 05:29] slightlyoff commented on #71
Ping on adding an explainer and examples to either the spec (non-normative) or the explainer.

[2016-01-13 05:31] plinss commented on #100
Dupe of issue #72

[2016-01-13 05:31] #100 closed

[2016-01-13 05:40] slightlyoff commented on #74
/cc @ericlaw1979

[2016-01-13 06:32] dbaron commented on #76
This was discussed a bit at the end of the afternoon at our face-to-face meeting in Melbourne (Wednesday 2016-01-13).

[2016-01-13 07:44] travisleithead commented on #64
(specifically adding said principles to the existing design-principles doc)

[2016-01-13 08:07] annevk commented on #72
As @domenic said, CSS should probably refactor https://html.spec.whatwg.org/#processing-model-8 to make things work for them. Review would be good, but I suspect for quite a bit of it we're bound by compatibility.

[2016-01-13 08:16] mikewest commented on #74
https://mikewest.github.io/hsts-priming/ is another approach that we're looking into.

[2016-01-13 22:52] dbaron commented on #75
Status of spec discussed at Melbourne face-to-face, morning of January 14.

[2016-01-13 22:53] dbaron commented on #75
Sounds like we're happy with things based on that discussion, so ready to close this issue.

(See minutes for details.)

[2016-01-13 22:53] #75 closed

[2016-01-13 22:55] dbaron commented on #74
Discussed at Melbourne face-to-face, morning of January 14.  (See minutes for details.)

[2016-01-13 23:56] travisleithead commented on #76
Found an [interesting article](http://www.garrettpatterson.com/2015/05/22/the-problem-with-cors/) (see section 5) that has a nice table showing where CORS works and doesn't work. I found this helpful (the article also puts forth a strong opinion on CORS which I don't completely agree with). The article doesn't describe the issue with redirects causing CORS failures, however.

[2016-01-14 00:23] dbaron commented on #80
Discussed at Melbourne face-to-face on Thursday Jan 14 (see minutes); concluded TAG doesn't need to do anything else for this, so can close issue.

[2016-01-14 00:23] #80 closed

[2016-01-14 00:25] dbaron commented on #81
API design doc is http://w3ctag.github.io/design-principles/

[2016-01-14 00:32] plinss commented on #83
Closed as dupe of #18

[2016-01-14 00:32] #83 closed

[2016-01-14 00:51] slightlyoff commented on #85
As a minimal subset of the Storage API, this looks good. A few questions:

 - these APIs look good, particularly as they don't put any constraints on browsers about UI and actual decisions about storage
 - would like to see a callout to the [TAG finding on Unsanctioned User Tracking and positive user controls](https://www.w3.org/2001/tag/doc/unsanctioned-tracking/#findings) so that implementers un

[2016-01-14 03:35] travisleithead commented on #97
Reviewed this in Melbourne ([raw minutes](https://pad.w3ctag.org/p/14-01-2016-minutes.md))

Points to review with FIDO folks/WG when it get started below:
TODOs:
    - clarification on mismatch between [WebCrypto](https://dvcs.w3.org/hg/webcrypto-api/raw-file/tip/spec/Overview.html), [FIDO Signature Format](https://www.w3.org/Submission/2015/SUBM-fido-signature-format-20151120/), [JWA nomenclature

[2016-01-14 03:43] dbaron commented on #97
/cc @bifurcation @vijaybh @balfanz @arnar @jmhodges so that some folks not on the TAG, and actually involved with FIDO, are cc:ed here (based on the github usernames I could find)

At some point (maybe after the WG starts?) it's probably worth setting up some discussion time with the TAG

[2016-01-14 05:01] domenic commented on #97
imageUri should be imageURL per https://url.spec.whatwg.org/#url-apis-elsewhere and https://w3ctag.github.io/design-principles/#casing-rules

[2016-01-14 05:03] jmhodges commented on #97
Wrong Jeff Hodges!

[2016-01-14 05:07] mnot commented on #86
Discussed at the Melbourne F2F.

In terms of API design, this seems reasonable. We understand that there are a number of trade offs in this design space, and that there is some risk here. However, we feel that publishing something in this space is generally good, because it meets a significant need in the platform -- even if it is not initially perfect.

We'd encourage you to continue to gather in

[2016-01-14 05:07] #86 closed

[2016-01-14 05:10] igrigorik commented on #86
Great, thanks! I'll try to get the TR updated.

[2016-01-14 05:27] dbaron commented on #87
It's *almost* orthogonal -- but I'd note there was a change from DOMString to USVString here, and whether it's in line with the guidance on which to use at http://heycam.github.io/webidl/#idl-USVString .  It's possible the guidance (which also isn't particularly clear) needs updating and the change here was correct, but it seems like the sort of thing where we should have clear guidance on when AP

[2016-01-14 05:31] mnot commented on #87
Discussed in Melbourne. Besides the issues discussed above (which we're still looking into), looks entirely reasonable. Should revisit in a call soon.

[2016-01-14 05:34] slightlyoff commented on #88
Change looks good. Thanks for making it!

It raises a good point for the TAG that we should be encouraging `DOMException` and should include that in our advice to spec authors. @dbaron is filing an issue on us for that.

[2016-01-14 05:34] #88 closed

[2016-01-14 05:35] travisleithead commented on #73
Hi folks, thanks for waiting. @slightlyoff and I have produced the following official TAG response:

[2016-01-14 05:35] travisleithead commented on #73
## Architectural view on run-after-app-close behavior.

A question was posed to the TAG: some potentially synchronous operation are requested to be run "after application close", with clarifying statements about the durability, reliability, or timeframes that these operations are required to run within.

The context for this question is described in [issue #85](https://github.com/w3c/encrypted-med

[2016-01-14 05:36] dbaron commented on #89
https://lists.w3.org/Archives/Public/www-tag/2016Jan/0008.html

[2016-01-14 05:51] travisleithead commented on #92
We are looking for a document that clearly defines the different high-level categories of streams: byte streams, timed streams, object streams. We want the document to clearly define some terminology that can be reused among various folks talking about streams (e.g., WebRTC media streams, etc.), and potential conversion patterns between each type of stream (since they can be converted and have spe

[2016-01-14 05:58] slightlyoff commented on #84
Questions!

`IDBObjectStore.getAll()`, `IDBObjectStore.getAllKeys()`, `IDBIndex.getAll()`, and `IDBIndex.getAllKeys()` look great. Glad they're being added!

The fact that these methods return an `Array` is interesting from the perspective of ES6 Iterators, Generators, and the protocol they expose. It seems like cursors are, in some way, a userland version of these (in much the same way that `IDBR

[2016-01-14 06:23] inexorabletash commented on #84
Cursor iteration is async, so we're awaiting guidance on Observables or whatever the latest thinking in ES-land is there. Since that's unsettled it seems premature to tackle that now.

Likely we'll tackle Promisifying the existing API first - e.g. via what's proposed at https://github.com/inexorabletash/indexeddb-promises - then tackle async iteration when the path forward is clearer.

[2016-01-14 07:45] vijaybh commented on #97
/cc @equalsjeffh to pull in the right Jeff Hodges, and also @leshi and @rlin1 who owned the signature and attestation docs respectively.

We'll definitely set up time with TAG once the WG gets under way, but let me answer a couple things here so you can have an idea of our direction.

Regarding no way to generate non-origin-specific credentials, this is by design. We were looking to do a simple th

[2016-01-14 08:55] annevk commented on #87
The reason it uses USVString is because when FormData is serialized, that's what you'll get. Seems bad to let the serialization format and object structure have different value spaces.

[2016-01-14 11:51] annevk commented on #76
That article equates JSONP (executing third-party code) with CORS (fetching third-party data). I have no words.

It's still not clear to me what the TAG is trying to do here.

[2016-01-14 13:57] domenic commented on #97
This might be naive, since I don't have too much depth into this problem space. But what about using origin instead of eTLD+1, and then letting websites use the existing cross-origin communication mechanisms (CORS, iframes-with-postMessage, server-side communication) to smuggle the credentials over to another origin?

[2016-01-14 16:13] vijaybh commented on #97
That was my initial reaction as well. The feedback we got was that the added complexity and performance hit from this was too much for people.

[2016-01-14 16:15] annevk commented on #97
Do you have some pointers to the prior discussion? It's a little hard to judge the information as-is.

[2016-01-14 16:21] vijaybh commented on #97
Unfortunately this was not captured anyplace where I can share it. If there is interest we could put together a short description of the issue.

[2016-01-14 17:29] annevk commented on #97
I think that would be great, since anything new that relies on public suffix is kind of a red flag. We have managed to keep it contained to cookies and `document.domain` for quite a while now.

[2016-01-14 21:48] plinss commented on #87
USVString use sounds fine, but one concern is interaction with other APIs that take DOMString, for example what happens when a FormData is constructed from a Form that contains elements with DOMString values set from script? What happens to any unpaired surrogates? The conversion from DOMString needs to be specified.

[2016-01-14 21:51] domenic commented on #87
It is: http://heycam.github.io/webidl/#es-USVString

[2016-01-14 21:53] plinss commented on #87
Ok, cool. Thanks.

[2016-01-14 22:26] mnot commented on #93
Discussed in Melbourne F2F; reminded ourselves that we need to arrange a discussion with one or more folks from the Annotations community about this spec.

[2016-01-14 22:55] mnot commented on #95
Discussed at the Melbourne F2F.

Overall, we're in favour of what you're doing here.

The document doesn't enumerate its error conditions; it would be nice if this was spelled out, or at least shown more in example code.

E.g., consider the situation when a service worker is woken up to do background sync, and inside that you register for another background sync; what are the implications -- shoul

[2016-01-14 23:26] mnot commented on #98
Discussed at Melbourne F2F; general support for encrypted payloads in this use case; we don't have comments on the details of the crypto because we're not expert there.

[2016-01-14 23:26] #98 closed

[2016-01-14 23:27] #99 closed

[2016-01-15 13:47] jkarlin commented on #95
Thanks @mnot. There is an [explainer](https://github.com/WICG/BackgroundSync/blob/master/explainer.md) up. I've created issues to address your other comments.

[2016-01-15 20:07] equalsJeffH commented on #97
@bifurcation is Richard Barnes of mozilla, yes?

[2016-01-17 01:20] mnot commented on #97
Da.

[2016-01-18 23:38] mnot commented on #77
Discussed with Mike; will revisit in ~six months to see how it's being used.

[2016-01-21 08:01] npdoty commented on #38
Thanks for the note. I tried to do a pass to address TAG feedback earlier, but I think I was responding to a different list than what is described by @slightlyoff above. (Also, I may have been guilty of focusing on addressing the issues I best knew how to address.) Happy to talk more, and thanks @torgo for scheduling.

[2016-01-26 21:54] torgo commented on #81
Hi @travisleithead I've put this on the agenda for tomorrow as it was assigned to this week's milestone.

[2016-01-26 21:56] torgo commented on #38
Hi @npdoty – have put this on our agenda for next week (2-feb).

[2016-01-26 22:04] torgo commented on #76
I have put this on the agenda for [this week's call](https://github.com/w3ctag/meetings/blob/gh-pages/2016/telecons/01-27-agenda.md. I will note that @sicking posted a great [Q&A](https://lists.w3.org/Archives/Public/www-tag/2016Jan/0015.html) on our mailing list in answer to some of the questions raised in this thread and on our mailing list. I'm sympathetic to [Brian's comments](https://lists.w3

[2016-01-26 22:17] annevk commented on #76
That FAQ seems wrong. `withCredentials` does affect whether cookies on the response are handled.

[2016-01-26 22:18] torgo commented on #76
… only adding to the confusion and to the impression that this technology isn't explained very well.

[2016-01-27 17:49] balfanz commented on #97
People were asking for a rationalization of the rule that an Authenticator should scope keys by eTLD+1:

I agree that from a “purity” point of view, it makes sense to scope keys by origin. In practice, we (Google) have found however, that that doesn’t quite work.

Here are all the origins at Google that need access to a user’s FIDO key, for example:
[code]
There are two reasons that we need to acc

[2016-01-27 20:05] torgo commented on #81
Punted until next week's call.

[2016-01-27 21:53] paulboyes commented on #81
This was initially around issue 37.  Now there is the added issue 72 (https://github.com/w3c/automotive/issues/72).  Your input on that would be much appreciated as well.

Thanks!

[2016-01-31 05:27] mnot commented on #14
Some data:
  https://freedom-to-tinker.com/blog/englehardt/the-web-privacy-problem-is-a-transparency-problem-introducing-the-openwpm-measurement-tool/

Chrome mitigation pref:   https://chromium.googlesource.com/chromium/src/+/7c98bab02128ae9fdc4fcc9a9df38588af86290e%5E!/chrome/common/pref_names.cc

Firefox discussion:
  https://groups.google.com/forum/#!topic/mozilla.dev.media/L6Rx9ubSjMc

[2016-02-03 20:49] travisleithead commented on #81
Discussed in our TAG call today ([raw minutes](https://pad.w3ctag.org/p/03-02-2016-minutes.md)). We had some followup clarifications, and are looking to have someone from the Automotive group join us in a future call.

[2016-02-03 23:52] sicking commented on #76
Note that the problem is worse than the withCredentials flag. There's currently **three** modes that you can make a cross-origin network request in:
* CORS withCredentials=false
* CORS withCredentials=true
* no-CORS. Aka "request for embedding, not for reading"

Most HTML features use the last. For example `<img>`, `<script>` and `<iframe>`. Those APIs ask the server to load the data, but promises

[2016-02-04 08:21] annevk commented on #76
`<iframe>` actually uses a special mode called "navigate". There are some subtle differences with "no-cors".

[2016-02-05 00:07] sicking commented on #76
Having thought about this some more, so here's some further thoughts.

I agree with the TAG that the way things currently work is that most APIs which is used for loading a resource simply take a URL. This is true in both JS libraries and in the built-in web platform APIs.

However, in practice what happens after that is that these APIs then add a default set of headers, and use a default verb, wh

[2016-02-07 08:38] torgo opened #102 "Dated Space"
There has been some [feedback](https://twitter.com/tobie/status/695986377767444481) from the [community](https://twitter.com/briankardell/status/696132998220140545) regarding the directory structure in this repository. The proposal is to migrate away from dated space but preserve the links in some way. /cc @bkardell @tobie @domenic @marcoscaceres

[2016-02-07 09:22] mnot commented on #102
Good to know we're on top of the big issues.

[2016-02-07 12:24] marcoscaceres commented on #102
To be fair, I'm sure I'm not alone in having dropped into this repo wanting to read a TAG review and giving up upon seeing the year directories.

It would be great to see them at a glance, even in the README. That could quite easily be included.

Sent from my iPhone

[2016-02-07 17:49] torgo commented on #102
I am just trying to channel the collective zeitgeist of the community, @mnot.

[2016-02-07 20:56] mnot commented on #102
The repo is a bit weird, in that 90%+ of the reviews are *not* done as files there; they're done in the issues. We state that we prefer to give feedback in WGs' own channels, rather than making them come here.

It's more a collection of things that needed more complex writing before we handed them to WGs -- although even then we sometimes don't use the repo.

So we shouldn't imply that the collect

[2016-02-08 21:42] khuey commented on #85
The ordering of persistentPermission and requestPersistent in https://storage.spec.whatwg.org/#dom-storagemanager-persistentpermission seems slightly odd. What's the rationale for that?

Also, is there a reason not to allow workers to requestPersistent?

/cc @wanderview @bakulf

[2016-02-08 22:34] inexorabletash commented on #85
Workers requesting permissions at all needs to be sorted in general, due to lack of UI surface. (Obviously they could delegate to owning window, etc, but no-one is doing that yet IIRC.) I think I saw some chatter recently about doing this for geolocation.

[2016-02-08 22:46] khuey commented on #85
Right. If the expectation is that we will change in the future, I am satisfied.

[2016-02-09 10:56] annevk commented on #85
If you could file issues at https://github.com/whatwg/storage/issues that would help. Happy to change things.

[2016-02-10 21:04] travisleithead commented on #81
We had a [great call today](https://pad.w3ctag.org/p/10-02-2016-minutes.md). From the sound of things, the group may be taking the spec in a new direction (moving away from a Web API, and more toward a REST-ful model, perhaps making use of Web Sockets. We are closing this issue now, and will be happy to be notified of a new spec review issue request when the Automotive specs have been updated. Tha

[2016-02-10 21:04] #81 closed

[2016-02-10 21:21] marcoscaceres commented on #81
Is there any minutes from the call?

[2016-02-11 21:39] timbl commented on #76
You make the point that it is useful to give more power to a JS app to operate at a lower level, and do explicit HTTP requests with the method and headers all added.  Yes, this is useful.    It would be useful also to understand and select which certs, passwords, or cookies were used.

But that is not the function which we are talking about when we talk about just taking one URI param.  That funct

[2016-02-12 00:31] bkardell commented on #76
I'm not trying to add difficulty to this conversation but I'm genuinely still having trouble understanding...

Specifically, I'm having difficulty discerning what @timbl is looking for or commenting on here as I expressed in
https://lists.w3.org/Archives/Public/www-tag/2016Jan/0014.html and after talking with various people I dont think that I am alone in that.

In that post I asked some questions

[2016-02-12 00:40] dbaron commented on #76
@timbl said: "It would be useful also to understand and select which certs, passwords, or cookies were used."

Although I feel like I'm far from an expert here, I think this is an interesting comment that's close to the crux of the issue here.  (Although I think today we're talking about passwords and cookies, but not certs.)

My understanding is that the flag (and the "credentials mode" of the re

[2016-02-12 09:20] annevk commented on #76
1. Client certificates are part of "credentials mode".
2. CORS has had "credentials mode" in one way or another from the start. (Unless we're talking about drafts before things got implemented and shipped.)

I think what's closest to what @timbl is looking for is mode "cors" and credentials mode "omit". Never include any kind of client state and just let the server answer or not. The moment you wa

[2016-02-12 13:05] timbl commented on #76
Many isn’t enough.

Yes, many apps can just leave it on or off, as they only work with public or only work wit authenticate stuff.

I am writing libraries, not just apps.

Libraries use

				 content = get(uri).

Throughout. At many places, in many ways, at different levels.

Libraries call libraries.  Library code has no idea about what application it is working in.
Secure, public, distributed, c

[2016-02-15 17:20] chaals commented on #102
Yeah, having a list of the reviews done, even if it ends up as pointers to other places, would be really helpful for people trying to distill out of them some guidance …

[2016-02-16 15:37] bkardell commented on #81
@marcoscaceres the link @travisleithead shared above looks like minutes?

[2016-02-16 18:07] bkardell commented on #76
@timbl I don't know if 'you and I' refers to TAG or me or both, but I'm certainly willing to participate in that discussion however.  You should already have my contact info if me, or if not I believe Amy has it.

[2016-02-16 21:35] sicking commented on #76
Agreed. I think it'd be very useful to allow fetch() to specify things like which certs should be used. It might even be useful to allow fetch() to specify which client-side cert should be used, as well as which server-side certs should be trusted.

`fetch(url)` almost does this. But as has been pointed out, it doesn't provide authentication for cross-site requests.

However `fetch(url, { credenti

[2016-02-17 01:33] igrigorik commented on #18
- Firefox has it implemented behind a flag: https://bugzilla.mozilla.org/show_bug.cgi?id=1165796
- Chrome has it implemented behind a flag: https://plus.google.com/+IlyaGrigorik/posts/c4xiQ9fxCpf
- Edge lists is as "under consideration": https://dev.windows.com/en-us/microsoft-edge/platform/status/performanceobserver

Can we prioritize this? Are there are any particular questions we can address to

[2016-02-17 05:57] toddreifsteck commented on #18
@igrigorik What subset of performance timeline features have Firefox and Chrome implemented on Performance Observer? (Nav Timing/Resource Timing/User Timing/Frame Timing/Server Timing/other?)

Are all open spec issues from TPAC 2015 on when a Nav Timing is delivered to the Performance Observer resolved?

[2016-02-17 17:29] igrigorik commented on #18
As far as I can tell, [Mozilla's implementation](https://bugzilla.mozilla.org/show_bug.cgi?id=1165796) is feature complete (including new getEntries filtering) and integration with all the shipped perf APIs (user, nav, and resource timing).

The implementation in Chrome enables PerfObserver interface and integrates with User + Resource Timing. Nav Timing support is missing because we need to updat

[2016-02-17 20:28] torgo commented on #102
Alex has agreed to restructure the repo and maintain links using redirects.

[2016-02-17 20:28] torgo commented on #102
@dbaron points out in the call today: we should use spec short names consistently.

[2016-02-17 20:46] tobie commented on #102
:+1:

[2016-02-17 20:57] domenic commented on #102
How?

[2016-02-17 21:01] tobie commented on #102
You're completely spoiling this @domenic. I was so looking forward to see @slightlyoff plow his way through the github documentation before arriving at the same conclusion.

[2016-02-18 13:00] wseltzer commented on #97
The https://www.w3.org/Webauthn group will meet F2F on March 4. I've brought this issue to the chairs' attention.

[2016-02-19 14:47] marcoscaceres commented on #102
Just use my PR, and stop using the dated space. Done. 💃

Sent from my iPhone

[2016-02-20 09:41] #102 closed

[2016-02-24 22:41] mnot commented on #95
Thanks. Ping us if you have any questions / want more review.

[2016-02-24 22:41] #95 closed

[2016-02-29 01:34] mnot commented on #78
I think this can be closed; we're keeping this currently at <http://w3ctag.github.io/workmode/>

[2016-03-04 05:29] KenjiBaheux opened #104 "IntersectionObserver"
Spec: https://github.com/WICG/IntersectionObserver
Issues: [tracker](https://github.com/WICG/IntersectionObserver/issues/)
Discussion: https://www.w3.org/2015/08/27-positionobserver-irc (+ discussion in the issue tracker)

cc/ @ojanvafai

[2016-03-09 03:49] mnot commented on #101
Some thoughts forming here, feedback appreciated:
  https://gist.github.com/mnot/96440a5ca74fcf328d23

[2016-03-09 22:14] torgo commented on #104
Discussed on call 9-March-2016.

[2016-03-09 22:43] torgo commented on #104
TAG consensus is sounds good - would like to review again when going through web platform working group. See minutes of our call for full discussion. Otherwise closing.

[2016-03-09 22:43] #104 closed

[2016-03-16 21:28] torgo opened #105 "TV-Specific Web Subsetting"
Various groups subsetting web spec for TVs...  Eg HBBTV. Meanwhile some TV makers are integrating full browsers ...

[2016-03-16 21:33] torgo opened #106 "WebVR"
http://webvr.info also new community group...

[2016-03-16 21:49] jpiesing commented on #105
Please forgive me if commenting is not appropriate as I'm not a TAG member but ...
- HbbTV is based on the intersection of Opera Presto and webkit from a couple of years ago with selected additions. Is this a subset? Depends on your definition of subset really.
- I very much doubt anyone removes anything from a browser as part of their HbbTV implementation. Does that make HbbTV browsers "full brow

[2016-03-17 15:36] torgo opened #107 "ARIA"
From @ljwatson:
1. ARIA is complex. To understand ARIA it is necessary to understand accessibility mechanics (the relationship between code, browserer and accessibility API). This is something that many accessibility professionals do not understand, let alone the thousands of working developers actually building things for the web. This means ARIA is often misunderstood and misused.
2. ARIA is une

[2016-03-18 06:39] triblondon commented on #106
@slightlyoff can you send me your points?

[2016-03-21 21:51] reillyeon opened #108 "WebUSB"
Currently a [draft specification](https://wicg.github.io/webusb/) under the WICG. An [explainer](https://github.com/WICG/webusb/blob/gh-pages/explainer.md) is also available. [Issues](https://github.com/WICG/webusb/issues) are being tracked on GitHub.

[2016-03-22 20:27] torgo opened #109 "Payments Drafts Review"
As requested by Ian Jacobs at the AC meeting 22 March 2016.

[2016-03-25 00:17] tobie opened #110 "Generic Sensor API"
Would <3 a review of the [Generic Sensor API](https://w3c.github.io/sensors/) and [Ambient Light Sensor](https://w3c.github.io/ambient-light/) specs. The latter is defined in terms of the former, and as we have plenty more in the pipeline (gyroscope, magnetometer, accelerometer, altimeter, etc.), I'd rather we get it right early in the process (so there are still some rough edges, please bear with

[2016-03-27 14:59] sideshowbarker commented on #109
I’d like to further suggest that the TAG:
* add the Web Payments WG drafts as an agenda item for the 29-31 March f2f in London
* consider inviting @zkoch and/or @adrianba to call into the portion of the TAG f2f where this will be discussed, to give an overview of the architecture and for a Q&A

(If you do have an agenda item for this, I’d like to call in as well, and maybe @ianbjacobs would as wel

[2016-03-28 08:54] chaals commented on #107
Léonie's points are important. In particular, they point to some fundamental problems with ARIA:

1. Developers have to do a lot of work to get it right, and can easily forget something or get it wrong
2. Developers are required, in this model, to implement interaction behaviour. This can only work reliably if they know the user's platform and the user's capabilities for interaction. But they do n

[2016-03-29 11:17] torgo commented on #109
@sideshowbarker can you post the specific drafts you would like the TAG to review? We are open to putting this on [our agenda](https://github.com/w3ctag/meetings/blob/gh-pages/2016/03-london/agenda.md) for this week still. We could discuss on Wednesday afternoon UK time or Thursday afternoon UK time. Would those times suit the tz needs of yourself, @ianbjacobs and/or @zkoch, @adrianba ?

[2016-03-29 11:18] torgo commented on #109
https://w3c.github.io/browser-payment-api/specs/paymentrequest.html ?

[2016-03-29 13:02] sideshowbarker commented on #109
Yes.

The complete list of the current drafts is:

 * Payment Request API Architecture
   http://www.w3.org/TR/payment-request-architecture/

 * Payment Request API
   https://w3c.github.io/browser-payment-api/specs/paymentrequest.html

 * Payment Method Identifiers
   https://w3c.github.io/browser-payment-api/specs/method-identifiers.html

 * Basic Card Payment
   https://w3c.github.io/browser-pa

[2016-03-29 13:06] sideshowbarker commented on #109
oops in my previous comment I put the (not-yet-existing) TR URL for the architecture doc. Please instead use  https://w3c.github.io/browser-payment-api/specs/architecture.html (and edited my other comment to correct the URL there too)

[2016-03-29 13:22] ianbjacobs commented on #109
Hi TAG!

Thank you for taking this early opportunity to review the Web Payment WG specs. I suggest focusing on the Payment Request API and the Payment Method Identifiers specs. There are some good TAG questions in their like "what identifiers should we use for payment methods?"

The architecture document has multiple parts, some of which are simply informative (such as explaining how we organized

[2016-03-29 14:09] triblondon commented on #109
@sideshowbarker @ianbjacobs if we schedule this for 5pm London time (UTC+1) tomorrow, can you join a Google Hangout and organise to bring in others as you feel appropriate?

[2016-03-29 14:12] sideshowbarker commented on #109
Works for me but I defer to @ianbjacobs and of course to @zkoch and @adrianba as far as their availability

[2016-03-29 16:54] zkoch commented on #109
UTC+1 tomorrow would work for me.

[2016-03-30 08:47] torgo opened #111 "TV Control API"
Discussed at [London f2f](https://github.com/w3ctag/meetings/blob/gh-pages/2016/03-london/agenda.md) 30-March-2016.

[2016-03-30 09:05] yfuna commented on #111
The tech spec worth to be reviewed for this purpose is: [TV Control API Specification](https://w3c.github.io/tvapi/spec/)

Note that the works in the [TV Control WG](http://w3c.github.io/charter-drafts/tvcontrol-2015.html) scope is incubated in the [TV Control API CG](https://www.w3.org/community/tvapi/). The CG created a spec called [TV Control API](https://w3c.github.io/tvapi/spec/) which is bas

[2016-03-30 09:28] triblondon commented on #109
OK, folks, could you add me (triblondon) on Skype?  I'll call you at 5pm UK time today (30 March).  We haven't heard from @adrianba so can we go ahead or should we reschedule to allow Adrian time to opt in?

[2016-03-30 09:53] torgo commented on #97
Discussed at [London f2f](https://github.com/w3ctag/meetings/blob/gh-pages/2016/03-london/agenda.md) on 30-March-2016 with @wseltzer.

[2016-03-30 09:55] slightlyoff commented on #97
I'd like to dig into the `<iframe>` perf and security concerns.

`X-Frame-Options` allows e.g. the Security page to  Accounts page to decide what parent origins to allow embedding from. The `postMessage` dance does suck, but in terms of performance, a Service Worker should allow the Security page to appear near-instantly in every case.

Is the complexity concern that allowing iframing at all is op

[2016-03-30 10:32] sideshowbarker commented on #109
Let’s go ahead as scheduled at 5pm UK time today. I still hope Ade will be able to join also, but if needed Zach on his own can handle doing the overview and Q&A from the editors’ perspective.

[2016-03-30 11:30] JakeChampion opened #112 "Question: Should spec-review discussions live inside respective spec's repository?"
### Problem:
A developer who actively follows specifications issues was not aware of a potential issue with a specification.

### Description:
I actively follow the repositories of specifications that I'm interested in such as [Fetch](https://github.com/whatwg/fetch), [webRTC](https://github.com/w3c/webrtc-pc), and [ServiceWorker](https://github.com/slightlyoff/ServiceWorker) as to read issues wit

[2016-03-30 14:05] travisleithead commented on #72
Probably need to enumerate all the timings in the system, then figure out what a "tick" might be, and describe what feature areas understand which ticks, which APIs slot into which ticks. Whether there might be paired responses (dependency control). Task re-ordering? Lots of things to consider.

Should also look at various frameworks (like fastdom) and understand what scheduling policies are in us

[2016-03-30 14:11] torgo opened #113 "WICG Issue on Improving AccessKey"
From @chaals, for discussion at our [London f2f](https://github.com/w3ctag/meetings/blob/gh-pages/2016/03-london/agenda.md): https://discourse.wicg.io/t/improving-accesskey/1177

[2016-03-30 14:24] torgo commented on #108
Discussed at [London f2f](https://github.com/w3ctag/meetings/blob/gh-pages/2016/03-london/agenda.md)

[2016-03-30 14:27] slightlyoff commented on #85
Filed.

[2016-03-30 14:28] annevk commented on #85
Thanks.

[2016-03-30 14:38] torgo opened #114 "First Party Cookies"
From @mikewest : https://lists.w3.org/Archives/Public/www-tag/2016Mar/0008.html

[2016-03-30 14:51] torgo commented on #108
@slightlyoff to ask @reillyeon to join us on a future TAG call so we can explore some of the questions that came out of our discussions at the f2f.

[2016-03-30 15:04] torgo commented on #112
Discussed at [London f2f](https://github.com/w3ctag/meetings/blob/gh-pages/2016/03-london/agenda.md).

Jake - thanks for the feedback, which we've taken on board. However as we discussed today at out f2f :

1. The issues are here because this issue list is about organizing our work and discussion.
2. A TAG discussion on another spec might be specific to TAG work and not necessarily an issue with t

[2016-03-30 15:19] JakeChampion commented on #112
I think this issue can be closed if items 3 & 5 are being done.

An example would be https://github.com/w3ctag/spec-reviews/issues/76 looks to be related to https://github.com/whatwg/fetch/issues/264 but no explicit linking of those issues has happened.

[2016-03-30 15:20] torgo commented on #112
@JakeChampion and that's definitely an oversight on our part - so thank you for kicking us about it. :)

[2016-03-30 17:12] torgo commented on #109
@triblondon agreed at our [London f2f](https://github.com/w3ctag/meetings/blob/gh-pages/2016/03-london/agenda.md) to take this for the technical review.

[2016-03-30 17:13] triblondon commented on #109
Travis, Mark and I are doing reviews.

[2016-03-31 08:09] torgo commented on #110
Taken up at [London F2F](https://github.com/w3ctag/meetings/blob/gh-pages/2016/03-london/agenda.md). @travisleithead will “take a look at it.” @torgo will take a look as well.

[2016-03-31 08:16] torgo opened #115 "Ambient Light Sensor API"
Split out from #110, originally from @tobie

https://w3c.github.io/ambient-light/

[2016-03-31 08:17] torgo commented on #110
Split out the Ambient Light Sensor API review into #115.

[2016-03-31 08:17] tobie commented on #115
You'll have a hard time reviewing those separately, imho.

[2016-03-31 08:43] slightlyoff commented on #115
Understood, but I'd like to try.

A few notes for the structure of the spec:

 - There's only a single example and no linked explainer document that would provide deeper understanding of how the various bits get used together.  I think this would be clarifying both for the reader and the authors.
 - The example (singular?) doesn't show how to use the Permission API in conjunction with the Ambient

[2016-03-31 09:13] torgo commented on #107
Taken up at our [London F2F](https://github.com/w3ctag/meetings/blob/gh-pages/2016/03-london/agenda.md).

[2016-03-31 10:06] torgo commented on #107
@slightlyoff suggested that we organize a call with ARIA wg chair, an interim session with the chair and/or editors (on a teleconf) possibly building up to a “working session” at our Stockholm F2F. @torgo to reach out to ARIA wg chair to organize.

[2016-03-31 10:14] dbaron commented on #101
A few thoughts:

Some issues that may or may not be worth mentioning:
- blocking of content, and various motivations for doing so (e.g., privacy, perfomance, visual annoyance)
- some of the distinction in terms of what is and isn't cleared by Clear Site Data have to do with what sites can store and retrieve without user interaction.  For example, we don't want to clear saved passwords and (I think

[2016-03-31 10:40] tobie commented on #115
Thanks for these early comments. That's really helpful. I'm ooo this week, let me get back to you early next week.

[2016-03-31 10:53] slightlyoff commented on #107
Specifically, I'd like for us to discuss the completeness of ARIA 1.1; there seem to be HTML elements whose intrinsic roles (e.g. `<p>`) which cannot be reflected or re-created with ARIA 1.1. This is a major problem for Web Components and custom element authors.

In the longer-term, I'd like for us to discuss how ARIA might be made extensible and the "Accessibility Tree" that lots of specs seem to

[2016-03-31 11:08] torgo commented on #113
Discussed at our [London F2F](https://github.com/w3ctag/meetings/blob/gh-pages/2016/03-london/agenda.md)

[2016-03-31 11:22] torgo commented on #92
Taken up at [London F2f](https://github.com/w3ctag/meetings/blob/gh-pages/2016/03-london/agenda.md)

[2016-03-31 11:24] travisleithead commented on #92
Taking a look at : https://streams.spec.whatwg.org/

[2016-03-31 11:34] chaals commented on #107
An article [about accessibility APIs](https://www.smashingmagazine.com/2015/03/web-accessibility-with-accessibility-api/). There is meant to be a follow-up that explains how browsers use aria to connect to that, but until it is written, you should search for other explanations of that.

[2016-03-31 11:53] travisleithead commented on #92
The above-mentioned document can start with a spec-review of the Streams spec...

[2016-03-31 12:31] marcoscaceres commented on #107
It would be great if custom roles could be created somehow... maybe as part of?: https://wicg.github.io/a11yapi/

[2016-03-31 14:03] torgo commented on #14
Ref: https://github.com/w3c/webrtc-pc/issues/179 it looks like they have closed this issue. @dontcallmedom can you elaborate here and explain how the issue was resolved so that we can close this issue off please?

[2016-03-31 14:12] torgo commented on #38
https://pad.w3ctag.org/p/03-02-2016-minutes.md

[2016-03-31 14:13] torgo commented on #38
https://github.com/w3c/fingerprinting-guidance/issues/5 not yet resolved... @npdoty can you update on the status?

[2016-03-31 14:21] dbaron commented on #53
We have https://github.com/w3ctag/spec-reviews/blob/master/README.md but it doesn't seem to answer the above questions.

[2016-03-31 14:22] #78 closed

[2016-03-31 14:24] torgo commented on #53
Edited the document to include those questions. Will continue to edit that doc. In the mean time, let's close this.

[2016-03-31 14:24] #53 closed

[2016-03-31 14:36] torgo commented on #64
Taken up at [london f2f](https://github.com/w3ctag/meetings/blob/gh-pages/2016/telecons/02-03-agenda.md).

[2016-03-31 14:40] slightlyoff commented on #18
Apologies for the delay in getting back to everyone. Overall [Performance Timeline 2](https://www.w3.org/TR/performance-timeline-2/) looks good!

A few things stand out (some of them are editorial, sorry!):

 - It'd be great for there to be a separate explainer doc that goes into more detail about the problems that NT2 solves and the sample code you might write to use it to address those issues.

[2016-03-31 15:00] torgo commented on #63
@LjWatson @chaals any comments on this, referencing our discussion [earlier today](https://github.com/w3ctag/meetings/blob/gh-pages/2016/03-london/agenda.md)?

[2016-03-31 15:02] torgo commented on #63
Positive thoughts from @slightlyoff on this at our [f2f](https://github.com/w3ctag/meetings/blob/gh-pages/2016/03-london/agenda.md) (afternoon of day 3).

[2016-03-31 15:06] slightlyoff commented on #63
Sorry for the slow reply.

So reading the [Script Based Web Accessibility explainer](https://github.com/cyns/wapa/blob/master/ScriptAccessibility.md) (yay! an explainer!), it seems like it's a few different things all at once:

 - A last-chance way for ARIA data to be plumbed back into the document when ARIA attributes aren't already present. This feels like a great way of explaining how ARIA migh

[2016-03-31 15:08] hadleybeeman commented on #89
We checked in on this at the [London f2f](https://github.com/w3ctag/meetings/blob/gh-pages/2016/03-london/agenda.md) — looks like they haven't had time to make progress on it. Will check again at next TAG f2f.

[2016-03-31 15:10] torgo commented on #71
Doesn't look like things have changed... We'll close it for now until we see changes to review.... /cc @tabatkins ?

[2016-03-31 15:11] #71 closed

[2016-03-31 15:29] torgo commented on #74
Discussed at [london f2f](https://github.com/w3ctag/meetings/blob/gh-pages/2016/03-london/agenda.md) day 3; @mnot to follow up at IETF next week and come back to the group with more detailed status and action plan.

[2016-03-31 15:32] mnot commented on #76
discussed at London F2F; see [minutes](https://etherpad.w3ctag.org/p/29-03-2016-minutes.md).

[2016-03-31 15:32] torgo commented on #76
https://github.com/whatwg/fetch/issues/264

[2016-03-31 15:36] torgo commented on #112
closing for now but this has now been updated on our readme to remind us to keep doing this

[2016-03-31 15:36] #112 closed

[2016-03-31 15:39] slightlyoff commented on #73
Hey all,

I've spoken with @travisleithead at this week's F2F TAG meeting and what we have come to understand by looking at this from many angles is that:

 - The bits of browsers that are defined by specs don't currently have any way of specing the behavior that Secure Stop implies, at least not the low-latency notification version that seems to be implied. But it's hard to know what's actually b

[2016-03-31 15:45] slightlyoff commented on #84
Hey @domenic and @littledan: what's the latest on async iteration and generators and what would you recommend for this case? Reifying all the results seems a bit obnoxious if we don't need to.

[2016-03-31 15:51] dontcallmedom commented on #14
The [RTCWeb IP Handling draft](https://tools.ietf.org/html/draft-ietf-rtcweb-ip-handling-01) describe the strategies that browsers are invited to adopt to avoid revealing sensitive IP addresses.

Essentially:
* by default, only "safe" IP addresses get exposed; this includes so called "private" IP addresses (e.g. `192.168.0.1`) since in practice they don't reveal much, but not hidden-by-VPN IP addr

[2016-03-31 16:06] dbaron commented on #76
There's a thread on www-tag on this subject, spanning three months (so far), with subject `Comment on minutes ## With Credentials flag etc`: see archives for [January](https://lists.w3.org/Archives/Public/www-tag/2016Jan/thread.html#msg11), [February](https://lists.w3.org/Archives/Public/www-tag/2016Feb/thread.html#msg1), and [March](https://lists.w3.org/Archives/Public/www-tag/2016Mar/thread.html

[2016-03-31 16:22] annevk commented on #76
Having read those minutes I'm somewhat reluctant to discuss this further I must say. They are very dismissive of the work I've been doing over the past decade. The suggestions over what can be changed also seem fairly naive and ignorant of, for lack of better words, "browser reality". That is to say, we cannot really change how most of this works.

[2016-03-31 16:36] torgo commented on #76
Hi @annevk – don't read too much into those minutes, please. We all acknowledge the great work you've done on this and there was no call to change anything about how things currently work. In fact, there is a high amount of respect in the TAG for what you're doing and we appreciate that you're doing it. It's unfortunate that this wasn't captured in the minutes. As you know, they're not a verbatim

[2016-03-31 17:44] domenic commented on #84
It advanced to stage 2 at TC39 yesterday. My take on the room is that although the spec is done, a number of people in the room (@dherman most notably) would like to see it bake for a while in Babel and other places before advancing it. I can't recall any specific criticisms of the API though, just a general feeling of unease from a few members. The editor, @zenparsing, also made the good point th

[2016-03-31 17:48] mikewest commented on #114
`s/First Party Cookies/The 'SameSite' cookie attribute/` probably makes things clearer. :)

[2016-03-31 19:39] chaals commented on #63
Like Alex, I like the virutalisation which I think is something we might need to deal with consistently across the platform.

Likewise I'm a big fan of the "intention" events - this is very much facing the same problem as that I tried to outline with regards to "input to and interaction with applications" today. "Improving accesskey" is a misleading name. First because that's only one potential so

[2016-03-31 20:55] travisleithead commented on #49
Note, recent discussion on blink-dev's intent to ship: https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/7ouLjWzcjb0

[2016-04-01 09:37] annevk commented on #85
And addressed.

[2016-04-01 10:59] travisleithead commented on #61
@tidoust, @anssiko: At our most recent TAG f2f we discussed an alternate approach to our previously planned "privacy mode" spec. Given some pushback from implementers against standardizing the specifics of what constitutes privacy mode in browsers directly, @mnot has proposed a document that may be an incremental step toward that eventual goal. The document, aimed at spec authors, should provide a

[2016-04-01 12:08] anssiko commented on #61
@travisleithead @mnot Thanks! We're now tracking this in https://github.com/w3c/presentation-api/issues/275 and will provide you with feedback (we might synthesize the feedback at the SSWG's May F2F, so it might take a while for us to get back to you).

[2016-04-01 12:58] LjWatson commented on #107
@marcoscaceres
"It would be great if custom roles could be created somehow..."

Agreed. Extensibility is something the ARIA WG is looking at for 2.0. AFAIK, this is the issue in question:
https://www.w3.org/WAI/ARIA/track/issues/9

@slightlyoff
"Specifically, I'd like for us to discuss the completeness of ARIA 1.1; there seem to be HTML elements whose intrinsic roles (e.g.  <p> ) which cannot be
r

[2016-04-01 23:00] tobie commented on #115
So I tried to provide some of this in the Generic Sensor API, notably in the [Background](https://w3c.github.io/sensors/#background) and [Concepts](https://w3c.github.io/sensors/#concepts) sections. Agree this still needs work.

Yes. The Permission API is missing critical pieces for proper integration. @jyasskin is actively working on this as we speak. I'll revisit this and clean it up as soon as

[2016-04-03 14:53] triblondon commented on #109
OK, this is my first attempt at a TAG spec review, so please tell me how I'm cocking it up so I can do it better.

## Overview

My understanding is that this API enables a native browser UI to sit between a 'pay' button on a website and the resulting submission of payment credentials to the merchant.

In the simplest case, this is not much more than what we have seen before with `requestAutocomple

[2016-04-03 16:08] sideshowbarker commented on #109
Thanks @triblondon—I’ve raised https://github.com/w3c/browser-payment-api/issues/118 for tracking the action on responding to your review from the Web Payments WG side.

[2016-04-04 13:55] sideshowbarker commented on #109
from @triblondon:

Thanks @triblondon. This seems like an important issue, so I would like to hear from more of the TAG (e.g., @mnot, @travisleithead) about whether this is how the TAG recommends that groups design JavaScript APIs. Do either https://www.w3.org/TR/api-design/ or https://w3ctag.github.io/design-principles/ provide some relevant guidance on this?

[2016-04-04 18:01] msporny commented on #109
@triblondon wrote:

To clarify, the singleton would instantiate a Promise and return it. You'd be able to run multiple payment requests in a page. I'm not strongly arguing for/against - just clarifying.

[2016-04-04 18:04] msporny commented on #109
The Web Payments Community Group Browser API specification proposed .start():

http://wicg.github.io/web-payments-browser-api/checkout-api.html#simple-checkout-example

[2016-04-05 00:41] littledan commented on #84
My take is that async iterables seem to be moving along pretty smoothly, and we have a pretty natural protocol proposed for it. It's nice to have this use case in mind in evaluating the proposal, which you can read about here: https://github.com/tc39/proposal-async-iteration . Streams do a pretty good job of exposing something that's sorta like async iterables, but more ergonomic to use directly,

[2016-04-06 19:28] igrigorik commented on #18
Thanks for the review Alex!

I assume you meant Perf Timeline 2, not Nav Timing 2.

I think we can address this in the intro section. We already provide a PerfObserver code sample and I think we can just: (a) clarify that this is a v2 feature, (b) explain why it should be a preferred way to access the timeline.

That algorithm defines the steps that are invoked by other specifications when they ne

[2016-04-07 18:46] adrianhopebailie commented on #109
@triblondon

Thanks for this feedback.

It may help to have a look at the original architecture that was put in the wiki prior to the specs being drafted: https://github.com/w3c/webpayments/wiki/A-Payments-Initiation-Architecture-for-the-Web

Some of this is now reflected in the architecture document but some still needs to be pulled through in  documents about payment apps and registration and no

[2016-04-08 01:57] triblondon commented on #109
Thanks @adrianhopebailie.  Glad it was useful, and I'll follow up with a few comments in your repos.

[2016-04-11 02:35] mnot commented on #14
Discussed at IETF 95; minutes [here](https://www.ietf.org/proceedings/95/minutes/minutes-95-rtcweb) (search for "IP-address handling").

[2016-04-11 21:07] alijuma opened #116 "Filters in Canvas 2D"
Spec: https://html.spec.whatwg.org/multipage/scripting.html#filters

We'd like to ship this in Blink in Chrome 52, which in practice means enabling it by May 6th.

Blink Intent-to-Ship: https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/Jhwj8QAYaFY
Mozilla Intent to Implement and Ship: https://groups.google.com/forum/#!topic/mozilla.dev.platform/AKVp1cqQYHQ

This spec has been discus

[2016-04-11 23:04] tobie commented on #110
I can't seem to find call details anywhere. How can I join the call and at what time is it?

[2016-04-13 07:41] mnot commented on #101
I think content blocking is out of scope for this document, based on the definition of 'user data'.

User interaction as a way to distinguish types of data is useful; will try to work it in.

Thanks!

[2016-04-13 21:48] plinss commented on #87
Discussed 2016-04-13 telcon

[2016-04-13 21:48] #87 closed

[2016-04-13 21:51] plinss commented on #74
Discussed 2016-04-13, will continue to monitor

[2016-04-20 19:08] travisleithead commented on #110
[Agenda with details is here](https://github.com/w3ctag/meetings/blob/gh-pages/2016/telecons/04-20-agenda.md)

[2016-04-20 20:47] travisleithead commented on #110
Overall, very polished and complete document!

The use cases for the feature nicely setup the case for the spec:
* Restrictive or Too-Specific use cases for previously defined sensor APIs (for example, some APIs are very "high level" -- not bad in themselves, but may not address other potential "low level" uses of the sensor)
* Fragmentation on the ways sensors are exposed (e.g., various API propo

[2016-04-27 08:55] mnot opened #117 "URNbis documents"
The IETF URNBIS WG is finishing up [a number of documents](https://datatracker.ietf.org/wg/urnbis/documents/).

In particular, [this one](https://datatracker.ietf.org/doc/draft-ietf-urnbis-semantics-clarif/) may be of interest to the TAG; it removes URNs from the semantic (but not syntactic) constraints of URIs (and thus URLs).

For example, a URI processor now wouldn't be able to assume that a UR

[2016-04-27 09:04] annevk commented on #117
Wut. That just means that they are a different thing altogether and cannot be put in the same box anymore. `new URL()` will continue to treat URLs starting with `urn:` just the same as before.

[2016-05-03 12:08] triblondon commented on #109
I think we're done here.

[2016-05-03 12:08] #109 closed

[2016-05-04 21:53] torgo commented on #64
Taken up at tag [teleconference 4-may](https://github.com/w3ctag/meetings/blob/gh-pages/2016/telecons/05-04-agenda.md). Travis to put finishing touches on a proposal and socialize to WebUSB and WebBluetooth as well as @tobie for peer review.

[2016-05-04 22:38] igrigorik commented on #70
I believe we've addressed all the outstanding feedback in the latest draft [1]. PTAL and let me know if you have any additional thoughts or comments.

[1] https://w3c.github.io/requestidlecallback

[2016-05-04 23:42] travisleithead commented on #64
Updated! https://w3ctag.github.io/design-principles/

[2016-05-04 23:44] jyasskin commented on #64
Cool, but note that https://w3ctag.github.io/design-principles/#device-apis doesn't address the main question from this issue: how should a site be able to learn that a `BluetoothDevice` and a `MediaDeviceInfo` represent the same physical device?

[2016-05-05 09:22] tobie commented on #64
As far as the sensor work goes, I'm completely punting on exposing identifiers until I hear of potential use cases for them, or until we actually start seeing (1) multiple sensors of the same type in the same device or (2) a use of generic sensor APIs beyond same-device sensors.

Note there might be genuine use cases for exposing actual hardware identifiers in order to identify precisely the chip

[2016-05-05 10:11] zolkis commented on #64
I like the approach taken in the [OIC Core specification](http://openconnectivity.org/resources/specifications):
- use an opaque device ID (there a UUID) to identify the device (meaning an OIC stack instance there, but a physical device here), and
- use a device-relative path to identify classes and instances of resources (sensors, actuators).

We could play with the scope and lifetime of device I

[2016-05-09 19:42] plinss opened #118 "relative URLs are not updated pushState()"
In current implementations when a document's URL is updated via pushState() or inserting/modifying a base element, relative URLs are not updated to the new URL.

See https://lists.w3.org/Archives/Public/www-style/2016Mar/0298.html

[2016-05-09 20:11] plinss commented on #118
Discussed at CSS F2F, implementers seem reluctant to fix this due to fears of web compat issues.

[2016-05-10 06:56] annevk commented on #118
I don't think there's anything to fix either. What specification would you claim is violated here?

[2016-05-10 15:34] plinss commented on #118
Not claiming a specific spec is violated, but that the behavior (or lack thereof) is broken. If elements or CSS with relative URLs are modified after pushState or base change, those relative URLs will be evaluated against the new base, so two elements with the same relative url can have different resolved URLs.

[2016-05-10 18:14] travisleithead opened #119 "TAG Review of HTML 5.2 (previously 5.1)"
As the Web Platform WG nears a publication of CR, and as part of the group's request for wide-review, this is a request for TAG review of HTML 5.1.

Spec: http://w3c.github.io/html/

It may be helpful to start from the change list (so as not to necessarily review everything):

http://w3c.github.io/html/changes.html#changes

Thanks!
@adrianba, @LJWatson, @Chaals, @arronei, @adanilo, @plehegar

[2016-05-11 10:37] annevk commented on #119
Probably want to review https://html.spec.whatwg.org/multipage/ instead due to https://annevankesteren.nl/2016/01/film-at-11.

[2016-05-11 21:23] torgo commented on #117
Picked up at [TAG teleconf 11-may-2016](https://github.com/w3ctag/meetings/blob/gh-pages/2016/telecons/05-11-agenda.md)

[2016-05-12 00:36] mnot opened #120 "Performance APIs, Security and Privacy"
Ilya Grigorik wrote up a collection of thoughts about security and privacy as they relate to the design of performance APIs (mostly, the RUM-related ones). After some encouragement, he's started working on it as a Note:
  https://w3c.github.io/perf-security-privacy/

[2016-05-13 04:52] KenjiBaheux opened #121 "ReadableStreams (specs: Streams, Fetch)"
Streams spec:
https://streams.spec.whatwg.org/

PR merged to Fetch spec:
https://github.com/whatwg/fetch/commit/4924f6d6a2b9cdbdadffc1885141542311bda986

**Scope of interest**
In particular, the scope we are interested in at the moment is about ReadableStream:
- ReadableStream from the Streams API represents a sequence of objects/bytes with queuing and back-pressure propagation. It’s intended to b

[2016-05-18 09:15] mnot commented on #42
Hey Mike,

Overall this looks like a reasonable evolution for CSP; switching to fetch seems very sane.

The extensibility also looks reasonable. It's good to see that there are multiple implementations of the full level 2 spec (at least according to caniuse; is that correct?); it'd be even better to see Firefox get up to speed...

I'm still concerned about the overall size of CSP headers, as well

[2016-05-25 06:13] mnot commented on #101
See w3c/presentation-api#275.

[2016-05-25 22:07] torgo commented on #107
Discussed at [25-5-2016 teleconference](https://github.com/w3ctag/meetings/blob/gh-pages/2016/telecons/05-25-agenda.md). Agreed for one to carve out some time at the [stockholm f2f](https://github.com/w3ctag/meetings/tree/gh-pages/2016/07-stockholm) in July and at the upcoming TPAC to delve into accessibility / extensibility / components discussion further to inform the work on ARIA 2.0 requiremen

[2016-05-25 22:08] torgo commented on #107
@dbaron wrote on IRC: ARIA at TPAC is Thursday-Friday, so maybe trying to do some joint time on Friday at TPAC would work?

[2016-05-31 01:29] mnot commented on #114
Adopted by HTTP WG.

[2016-05-31 01:31] mnot commented on #59
FYI: https://tools.ietf.org/html/draft-ietf-appsawg-file-scheme-10

    4.  File Name Encoding

    File systems use various encoding schemes to store file and directory
    names.  Many modern file systems store file and directory names as
    arbitrary sequences of octets, in which case the representation as an
    encoded string often depends on the user's localization settings, or
    defaults

[2016-05-31 06:28] annevk commented on #59
It doesn't seem useful since it basically leaves it up to the implementation. I don't think that RFC matters though.

[2016-05-31 06:29] mnot commented on #59
Why, because of the SHOULD? Would a MUST make you happier (to the extent you care about it)?

[2016-05-31 06:41] annevk commented on #59
I'm not sure, but this is basically saying that file systems do whatever (true) and implementations can do whatever (true) except with a lot of confusing requirements that make it seem like there's some logic here (not true).

The algorithm you need takes a file URL, an OS-flavor, and returns a file. Describing that and saying what is not defined yet seems much more helpful than this.

[2016-05-31 06:57] mnot commented on #59
This text is about starting with a file on a filesystem, some environment, and ending up with a file URI; i.e., generation, not parsing.

Parsing would be defined in URL Standard, presumably. I *think* this helps by making what the encoding is supposed to be less ambiguous (as opposed to previous drafts).

If your reaction is "mostly harmless", that's OK.

[2016-06-01 18:17] owencm commented on #108
Friendly ping! We'd love some feedback here :)

[2016-06-01 21:39] torgo commented on #42
discussed in telecon 1 june 2016 https://github.com/w3ctag/meetings/blob/gh-pages/2016/telecons/06-01-agenda.md

[2016-06-01 21:55] torgo commented on #117
discussed at telecon https://github.com/w3ctag/meetings/blob/gh-pages/2016/telecons/06-01-agenda.md - agreed to put on hold and discuss at stockholm

[2016-06-02 05:22] mnot commented on #42
@mikewest we've discussed that and the TAG likes the direction you're going in; we don't have any substantial architectural comment, beyond saying that CSP 3 looks like a good evolution, modularity looks about right, and using Fetch is sane.

[2016-06-02 05:23] #42 closed

[2016-06-02 08:06] torgo opened #122 "Accelerated Mobile Pages (AMP)"
The [AMP project](https://www.ampproject.org/) is encouraging some developer practices which enable high performance mobile web applications. But are these practices compatible with web architectural principles?

[2016-06-02 08:10] torgo opened #123 "Progressive Web Apps"
@slightlyoff [wrote a post](https://infrequently.org/2015/06/progressive-apps-escaping-tabs-without-losing-our-soul/) defining progressive web apps. Many people are now talking about PWAs and building PWAs but there is no clear definition and some have started building PWAs which do not seem to embrace web best practices (e.g. [thematic consistency](https://www.w3.org/TR/mobile-bp/#tc)). Should th

[2016-06-03 02:26] triblondon commented on #123
This is a topic of great interest in the developer community.  Lots of commentary on this members may like to review.  W3C member orgs are indicated.

* [Beyond Progressive Web Apps](http://cssence.com/blog/2016-05-beyond-progressive-web-apps) Matthias Beitl
* [The importance of URLs](https://www.kryogenix.org/days/2016/05/24/the-importance-of-urls/) Stuart Langridge
* [On URLs in Progressive Web

[2016-06-03 02:36] triblondon commented on #122
I have two concerns:

1. Ecosystem creation: AMP is a big bottle of kool-aid and you have to drink the whole thing. It's "the AMP way or the highway".  This is nothing new, and could be said of any framework that creates an opinionated way of doing everything and makes it hard, awkward or impossible to do things in other ways - Ember, React, Angular could probably all be considered ecosystems in t

[2016-06-06 22:40] marcoscaceres commented on #123
I agree. Examining an aspirational blog post is probably not a great use of the TAG's time. It would be best to maybe revise some of the underlying specs that constitute PWAs instead; as many of those specs have been updated, have spun off new features (e.g., background sync) or are now in some form of "V2".

[2016-06-06 23:04] cwilso commented on #123
I'd say, actually, that the TAG might want to look in to some of these issues, but not as a review of "Progressive Web Apps".

- Definition of progressiveness, and how best to build a progressive experience across modern browsers and devices
- strategies for offline and instant loading
- Canonality
- Encouraging deep linking
- Thematic consistency

Overall, the point of progressive web apps is sim

[2016-06-08 13:01] torgo commented on #123
Good comments. Considering all the energy being spent in the web community discussing and debating this topic it really feels like the TAG  should say something here. I like @cwilso's idea of focusing in on architectural principles. Please note we can change the name of the issue but I do think these fit together.

[2016-06-08 13:30] triblondon commented on #123
I have a keen interest in lots of aspects of PWAs, so I'm painfully aware of not wanting to detail us into a discussion with no purpose.

Chris's suggested topics look good and I'd maybe narrow further to just progressiveness, canonality and thematic consistency, which seem like the weighty architectural issues here.

[2016-06-08 18:25] travisleithead commented on #49
Latest FIDO (Now Web Authentication): https://w3c.github.io/webauthn/
Credential Management L1: https://w3c.github.io/webappsec-credential-management/

Previous questions (from [20 May 2015 teleconference](https://github.com/w3ctag/meetings/blob/gh-pages/2015/telcons/05-20-credentials%26fingerprinting-minutes.md))
* security of the name (`idName`) attribute when reading after transferring to alter

[2016-06-08 21:46] torgo commented on #49
discussed [8-june-2016](https://github.com/w3ctag/meetings/blob/gh-pages/2016/telecons/06-08-agenda.md) - and agreed to close - further discussion to #97 .

[2016-06-08 21:46] #49 closed

[2016-06-08 21:47] travisleithead commented on #97
Note, some additional comments in the Credentials management API #49.

[2016-06-09 07:41] torgo commented on #123
Discussed on [June 8th teleconerence](https://github.com/w3ctag/meetings/blob/gh-pages/2016/telecons/06-08-agenda.md).

[2016-06-10 00:32] mnot commented on #123
Somewhat relevant from Eran:
  https://hueniverse.com/2016/06/08/the-fucking-open-web/

...

[2016-06-10 04:03] marcoscaceres commented on #123
Don't feed the troll, @mnot.

[2016-06-13 19:10] bkardell commented on #107
Tabindex and relationships for a11y is hard if you are building and managing interactive UI which requires part of the tree to temporarily be removed from focus (inert).  There is a ton here https://www.w3.org/Bugs/Public/show_bug.cgi?id=24983 but as you can see it really isn't just about dialogs, the bug gives several examples of other times this is a challenge, and there are more.  I know there

[2016-06-13 22:14] plinss commented on #66
These properties have been merged with polar positioning and are currently in the Round Display spec:
https://drafts.csswg.org/css-round-display/#positioning-content

The motion path spec needs to be tombstoned.

[2016-06-14 00:18] shans commented on #66
During the SF face-to-face I thought we had resolved to merge the round display properties into motion-path, not the other way around. Has something changed since?

[2016-06-14 03:37] plinss commented on #66
Only that the current work seems to be happening in the Round Display spec. I expect it will get moved back to motion-path at some point (or possibly another spec). I don't care where it ends up (or lives now) and am not advocating for any location, I just think it's confusing to have conflicting work in two places, and one of them should just point to the other.

[2016-06-27 12:35] anssiko commented on #61
Fixed TAG's "privacy mode" feedback (w3c/presentation-api#275) with w3c/presentation-api#308.

Also, @annevk's feedback initially triggered by this TAG review (tracked in w3c/presentation-api#153) is being addressed by rechartering and bringing back to life the Second Screen Community Group:

https://webscreens.github.io/cg-charter/
https://github.com/webscreens/cg-charter/

[2016-06-29 22:03] plinss commented on #120
Discussed at 2016-07-29 telcon, will invite Ilya to a future call to discuss this and the possibility of merging it into our API design guide.

[2016-06-30 15:51] iherman commented on #93
See https://github.com/w3c/web-annotation/issues/313#issuecomment-229681515 for a more complete, and up-to-date response of the WA Working Group

[2016-07-05 03:47] triblondon commented on #123
I see this on the agenda for this week.  Maybe we can progress this by sorting out what is architecture and what is not, and whether PWAs have anything to say about the bits that are.

* **"Progressiveness"**: is this a marketing buzzword that means whatever you want it to mean, or should it have a technical definition?  If the latter, then I think it would be helpful for us to offer one, and dete

[2016-07-05 03:54] triblondon commented on #122
happy to close this if there is no interest.  I raised an issue on the AMP project suggesting that AMP components could be available outside of the AMP ecosystem, and got a thoughtful response that basically amounts to 'no':

https://github.com/ampproject/amphtml/issues/3453

[2016-07-05 04:18] marcoscaceres commented on #123
On July 5, 2016 at 1:47:42 PM, Andrew Betts (notifications@github.com) wrote:

It's a design strategy, that is supported by underlying standards. The
ability to feature-detect, de-sugar, and polyfill are critical,
architecturally, to "progressiveness". For example,

[code]

Same principle in CSS - where, for instance, you once had a default
bg-color where gradients are not supported. The is are al

[2016-07-05 06:35] triblondon commented on #123
That sounds like one reasonable opinion. Objectively there is disagreement about what progressiveness means.  At some level, who cares.  Let's just say it's a marketing term and it means what you want it to mean in the context in which you use it!

Currently, the community Lighthouse validator will fail any candidate PWA that does not declare standalone or fullscreen in its manifest display proper

[2016-07-05 07:02] marcoscaceres commented on #123
On July 5, 2016 at 4:35:22 PM, Andrew Betts (notifications@github.com) wrote:

No, it's much more serious than you think. We've had these kinds of
screw-ups before where, for instance, aspects of the Geolocation API
were labelled [NoInterfaceObject], which meant they were not
accessible to developers for polyfilling.

Then, whole bunch of other specs copy/pasted Geolocation because it
was, for a w

[2016-07-06 21:20] torgo commented on #123
Discussed on [TAG call 6 July 2016](https://github.com/w3ctag/meetings/blob/gh-pages/2016/telecons/07-06-agenda.md).

[2016-07-06 21:24] torgo commented on #123
Is there an issue that TAG could feed back to Lighthouse testing tool? Agreed to query Lighthouse project on the manifest test specifically (stand alone / full screen)...

[2016-07-06 21:28] torgo commented on #123
Agreed to keep issue pending lighthouse discussion - but continue to discuss specifics in this area and open up a new issue on canonical URLs.

[2016-07-06 21:30] torgo commented on #122
Discussed [06 July](https://github.com/w3ctag/meetings/blob/gh-pages/2016/telecons/07-06-agenda.md) - canonical URLs one concern, "ecosystem" and tooling another.

[2016-07-06 21:30] torgo commented on #122
Agreed to close and take the canonical URL concern into new issue to be created on that topic.

[2016-07-06 21:30] #122 closed

[2016-07-06 21:38] torgo commented on #93
Discussed on [6 July Call](https://github.com/w3ctag/meetings/blob/gh-pages/2016/telecons/07-06-agenda.md)

[2016-07-06 21:38] torgo commented on #93
Seems we need to feed back on https://github.com/w3c/web-annotation/issues/313#issuecomment-229681515. Pending feedback from @mnot....

[2016-07-06 21:43] torgo opened #124 "Review secure contexts"
Discussed on call 6 July - WebAppSec thinks Secure Contexts is ready for CR, https://w3c.github.io/webappsec-secure-contexts/

[2016-07-06 21:49] travisleithead commented on #124
This is looking pretty good from my standpoint. Has feature detection [generally], and makes reference to the [SecureContext] WebIDL extended attribute which has a behavior I'm happy with.

Lots of good examples and descriptions. +1 for transition to CR.

[2016-07-06 21:51] torgo commented on #124
me, @mnot @ylafon @triblondon @slightlyoff @hadleybeeman @dbaron @timbl could you register your comments?

[2016-07-07 01:17] marcoscaceres commented on #123
I cited some [scary numbers](https://github.com/GoogleChrome/lighthouse/issues/495#issuecomment-230952271) for them to get a sense of why "standalone" as a default is really dangerous for the ecosystem (in the it diminishes trust in web applications), and bad for users in general... worst case, browsers will skip standalone and always do "minumal-ui" because most apps are not usable without a back

[2016-07-07 01:17] marcoscaceres commented on #123
* minimal-ui, even.

[2016-07-07 06:33] mikewest commented on #124
Great, thanks Travis, et al. Do y'all still want to publish as a joint document?

/cc @hillbrad @wseltzer

[2016-07-07 15:53] torgo opened #125 "Do we have feedback on Web Payment group's response to security & privacy questionnaire?"
https://lists.w3.org/Archives/Public/public-payments-wg/2016Jul/att-0013/WebpaymentsAPISecurityandPrivacyChecklist.pdf

[2016-07-07 16:29] torgo commented on #101
FYI @mnot some discussion here at the [web payment wg f2f](https://github.com/w3c/webpayments/wiki/Web-Payments-Working-Group-FTF-Meeting-%28July-2016%29), in the response to the [response](https://lists.w3.org/Archives/Public/public-payments-wg/2016Jul/att-0013/WebpaymentsAPISecurityandPrivacyChecklist.pdf) to the security & privacy self-review, on desirable behavior when the user is in "incognit

[2016-07-12 00:51] fhirsch opened #126 "Review of WakeLock API and suitability for overall platform requested by 31 August 2016"
RfC: Wide review of Wake Lock API; deadline August 31st

The Device & Sensors Working Group is soliciting the review of the Wake Lock API on our way to Candidate Recommendation status:  https://www.w3.org/TR/wake-lock/

From the TAG we hope to get a review of the overall API and its insertion in the rest of the platform (as well as potentially comments on aspects we have asked other groups about i

[2016-07-19 17:45] mikewest commented on #124
Issued a CfC to transition to CR in https://github.com/w3c/webappsec-secure-contexts/issues/39. If y'all are so thrilled with the doc that you'd still like this to be a joint publication, I'm happy to change the document accordingly.

[2016-07-20 20:52] torgo commented on #107
This will be further taken up at our [next f2f](https://github.com/w3ctag/meetings/blob/gh-pages/2016/07-stockholm/agenda.md) in Stockholm with @LJWatson.

[2016-07-20 20:54] torgo commented on #107
Also CCing @alice to solicit more feedback.

[2016-07-20 21:25] torgo commented on #84
Taken up on TAG telecon 20-07-2016.

[2016-07-20 21:32] torgo commented on #84
@inexorabletash see our minutes here: https://pad.w3ctag.org/p/20-07-2016-minutes.md - is there any more recent info or thinking you can share with us on this? we'd like to get feedback sent out...

[2016-07-20 21:36] torgo commented on #18
Taken up on 20-07-2016. We agreed to close the issue.

[2016-07-20 21:36] #18 closed

[2016-07-20 21:37] inexorabletash commented on #84
The specific methods mentioned in the issue shipped in Firefox and Chrome several months ago now, as the simple "give me a bunch of results" was such a clear performance win.

I'm continuing to look at integrating IDB with Promises, and Observables make sense for cursor-type operations. I don't think there is anything actionable here for the TAG at this time.

[2016-07-20 21:54] travisleithead commented on #84
Oh!
https://developer.mozilla.org/en-US/docs/Web/API/IDBObjectStore/getAll
https://developer.mozilla.org/en-US/docs/Web/API/IDBObjectStore/openKeyCursor

According to the articles, these return IDBRequest (iterator), rather than an Array type.

[2016-07-20 22:06] inexorabletash commented on #84
Everything in IDB returns an IDBRequest, which populates the `result` property when the request is completed. (This is what happens when you implement an async API before Promises are added to the DOM, and don't have a time machine handy.) `getAll()` was specified to yield (via `request` property) an Array of results.

I think the comments here and in the TAG minutes hint at a handful of inter-rel

[2016-07-20 22:12] domenic commented on #84
Hmm, this needs serious discussion. As @littledan said upthread, observables are very speculative right now and async iterators are probably a better bet. I also don't understand why you think observables make sense for this use case or are faster: async iterators are strictly more powerful, and if you pull them as fast as possible they should get you results just as fast as a push solution would-

[2016-07-20 22:38] slightlyoff commented on #14
Do we need to follow up at all here?

[2016-07-20 23:30] inexorabletash commented on #84
I had an offline sync up with @littledan and understand the async iterator proposal better (I simply hasn't spent any time with it yet). Agreed it's a better fit for cursors. I'll be exploring it soon.

[2016-07-20 23:44] littledan commented on #84
To clarify, I don't want to have an observable vs async iterator debate (neither is at Stage 3 yet), but I think async iterators, for one, would be a good fit here. As a transitional possibility before async iterators are there, it would be possible to do something analogous to streams and give cursors a `.next()` method which returns a Promise of an IterationResult. In my opinion, this is fairly

[2016-07-20 23:56] inexorabletash commented on #84
And also to clarify, I'd updated my comment after @domenic started replying (hence, my text and his quote differ). Cursors need a pull-type model, which is indeed a better fit for async iterators.

The proposal at https://github.com/inexorabletash/indexeddb-promises shows how cursors+promises already get a non-terrible syntax with the rest of the proposal (search for "fetch all keys in a range usi